@page
@model KofCWSCWebsite.Pages.Helper._printDirModalModel
@{
}
<div class="modal fade" id="printDirModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Modal content goes here -->
            </div>
            <div class="modal-footer">
                @Html.ActionLink("Close", "Index", "Home", new { }, new { @class = "btn btn-secondary" })
                @Html.ActionLink("I agree", "FileStorage", "Details", new { id = 14 }, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>
