@page
@model KofCWSCWebsite.Pages.StateFamily.ChancellorModel
@{
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <!-- This stuff is in _layouts-->
    @*     <link rel="stylesheet" href="../style.css">
    <link defer href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    *@



    <title>Knights of Columbus-Washington</title>
</head>
<body>

    <table class="table" style="width:30%">
        <tr>
            <td style="text-align:center">
                <h3 class="MyColHdr">Chancellor Resources</h3>
            </td>
        </tr>
        <tr>
            <td><a href="https://www.kofc.org/un/en/programs/faith/index.html" target="_blank">Faith In Action Supreme</a></td>
        </tr>
        <tr>
            <td>Have Questions?</td>
        </tr>
        <tr>
            <td>
                Contact <a href="mailto:robert.kish@kofc.org">robert.kish@kofc.org</a> at Supreme
            </td>
        </tr>
    </table>


    <script src="../script.js"></script>
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->

</body>
</html>