@page
@model KofCWSCWebsite.Pages.StateFamily.OfficersModel
@{
}
<!doctype html>
<html lang="en">
<head>
    <title>Knights of Columbus-Washington</title>
</head>
<body>

    <h3 class="MyPageHdr">State Officers 2023 - 2024</h3>
    <table class="table">
        <tr>
            <td style="text-align:center">
                <img class="MyImage" src="~/images/SOs/StateChaplain.png"><br />
                State Chaplain<br />
                Fr Kenneth St Hilaire
            </td>
            <td style="text-align:center">
            </td>
            <td style="text-align:center">
                <img class="MyImage" src="~/images/SOs/StateDeputy.png" /><br />
                State Deputy<br />
                Greg Mahoney
            </td>
        </tr>

        <tr>
            <td style="text-align:center">
                <img class="MyImage" src="~/images/SOs/StateSecretary.png" /><br />
                State Secretary<br />
                Tom Williams
            </td>
            <td style="text-align:center">
                <img class="MyImage" src="~/images/SOs/StateTreasurer.png" /><br />
                State Treasurer<br />
                Dr. Scott Hulse
            </td>
            <td style="text-align:center">
                <img class="MyImage" src="~/images/SOs/StateAdvocate.png" /><br />
                State Advocate<br />
                David Olwell
            </td>
        </tr>

        <tr>
            <td style="text-align:center">
                <img class="MyImage" src="~/images/SOs/StateWarden.png" /><br />
                State Warden<br />
                Dang Nguyen
            </td>
            <td style="text-align:center">
                <img class="MyImage" src="~/images/SOs/IPSD.png" /><br />
                Immediate Past State Deputy<br />
                Kim Washburn
            </td>
            <td style="text-align:center">
                <img class="MyImage" src="~/images/SOs/SupremeRegionalGrowthDirector.png" /><br />
                Supreme Regional Growth Director<br />
                Chuck Davlin
            </td>
        </tr>
    </table>



    <script src="../script.js"></script>
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->

</body>
</html>