@page
@model KofCWSCWebsite.Pages.AOI.StateConventionModel
@attribute [Microsoft.AspNetCore.Authorization.Authorize]
@{
}

<figure class="table" style="width:100%;">
    <table class="table">
        <thead>
            <tr>
                <th style="text-align:center;" colspan="3">
                    <h3 class="MyPageHdr">122nd Annual State Convention</h3>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="text-align:center;">&nbsp;</td>
                <td><a target="_blank" rel="noopener noreferrer" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/ERpsE5W3QKtLpABH6kF54nQB3utxf5E5-nr8UTPaO1GCeQ?e=xYsdbP" download="file">State Deputy's Invitation to Delegates</a></td>
                <td><strong>*All Grand Knights, Delegates, and Alternates are required to review this</strong></td>
            </tr>
            <tr>
                <td style="text-align:center;">&nbsp;</td>
                <td><a target="_blank" rel="noopener noreferrer" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/Ea0w-594xqtEp6I4J9uY2sMB2EWcg5tN9sw2afYwB-o7jw?e=Mayugp" download="file">State Secretary's Letter to Councils regarding Certificate of Elections</a></td>
                <td><strong>*All Grand Knights and Financial Secretaries are required to review this</strong></td>
            </tr>
            <tr>
                <td style="text-align:center;">&nbsp;</td>
                <td><a target="_blank" rel="noopener noreferrer" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EQeiG-4SmW1BmDjWgv0u0Z0BlBK12jlk43A5RDFWDFBMdQ?e=5M54qa" download="file">State General Program Director's Letter regarding Awards Submissions</a></td>
                <td><strong>*All Grand Knights or council program directors are required to review this</strong></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><a target="_blank" rel="noopener noreferrer" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EVtby7Dhn09Gu21qEmh4nz4Bdfd8EK4VaRvFo8LygiOeoQ?e=QnajZO" download="file">Certificate of Election Submission Guide</a></td>
                <td><strong>*All Grand Knights and Financial Secretaries are required to review this</strong></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><a target="_blank" rel="noopener noreferrer" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/ERageNUsq7BAl_yiNuF65bsBoT7AEXXMxAtSpNGcg_oLzg?e=HZVHfe" download="file">Guide to Updating Council's Addresses</a></td>
                <td><strong>*All Grand Knights and Financial Secretaries are required to review this</strong></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><a target="_blank" rel="noopener noreferrer" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EUVJi5zfX3RKun_fkwlwoNMBqmODttSKI925GKPQ4iBGUQ?e=3s6y2F" download="file">State Convention Lodging Guide</a></td>
                <td><strong>*All convention attendees are required to review this</strong></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><a target="_blank" rel="noopener noreferrer" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EZBILLoORxNJseo9DqwgSfoBidhwwpWZKHN4-2EnwYZuLw?e=Cmo7NU" download="file">State Convention Registration Guide</a></td>
                <td><strong>*All convention attendees are required to review this</strong></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><a target="_blank" rel="noopener noreferrer" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EQTQE7DA2VJDgBXzbviyxfEB27mW0Ja2ZVf34E2mVMP89A?e=bllZCb" download="file">Convention Agenda - short form</a></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><a target="_blank" rel="noopener noreferrer" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EcHD4oO9bTxLipnH3s0hkAsBLImEb_h4NNvdsk4beuiJpw?e=HYYeYl" download="file">Convention Agenda - long form</a></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><a target="_blank" rel="noopener noreferrer" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EQeiG-4SmW1BmDjWgv0u0Z0BlBK12jlk43A5RDFWDFBMdQ?e=3IkF2h" download="file">State Awards Submission Guide</a></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><a target="_blank" rel="noopener noreferrer" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EZbrMbc6OudKkWyDfksZesQBofXjS-TpknGTuwNyd5r3Gg?e=tZOdrG" download="file">Convention Ad Instructions</a></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><a target="_blank" rel="noopener noreferrer" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EZSbDp1F9OhAkwm4s9_4WT4BhjMN0TILKinXh9X96wFBIA?e=TOmbbU" download="file">Campus Map with Eucharistic Procession route</a></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><a target="_blank" rel="noopener noreferrer" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EeWpLwUo-IxGiyil2G6GmRoBK98oCvaD_4BLmiK9PKNnGw?e=xIisYP" download="file">KC Holy Roller Flyer</a></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><a target="_blank" rel="noopener noreferrer" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EUNntC-a2jVHj3_COMMXRHQB_fGhcO1jB9mvZUGp7cfFIQ?e=RFwNjP" download="file">ASAP Pass the Hat Flyer</a></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><a target="_blank" rel="noopener noreferrer" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/ERlm4zbjg4tKgmvjhU-MihwBq6Dw_Gk642T7itc5xMg1uw?e=90cNlf" download="file">Information on Resolutions for the Convention</a></td>
                <td>&nbsp;</td>
            </tr>        </tbody>
    </table>
</figure>
