@page
@model KofCWSCWebsite.Pages.AOI.122ndConventionModel
@{
}
<h1 class="MyPageHdr">122nd Annual State Convention</h1>
<br />
<h3 class="MyColHdr">Save the Date!</h3>
<div>
    <img src="/images/AOI/StateConvention/English Save the Date.png" width="400">
</div>
<div>
    <img src="/images/AOI/StateConvention/Spanish Save the Date.png" width="400">
</div>