@page
@model KofCWSCWebsite.Pages.AOI.StateConventionProceedingsReportsModel
@attribute [Microsoft.AspNetCore.Authorization.Authorize]
@{
}


<figure class="table" style="width:100%;">
    <table class="table">
        <thead>
            <tr>
                <th style="text-align:center;" colspan="3">
                    <h3 class="MyPageHdr">Proceedings & Reports</h3>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="text-align:center;" colspan="3"><strong>*All Delegates and Alternates to the State Convention are required to review these documents prior to attendance at the State Convention</strong></td>
            </tr>
            <tr>
                <td style="font-weight: bold;">2025 122nd State Convention</td>
                <td id="2025ProceedingsReports">State Convention Proceedings and Reports</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Posted 3/24/2025</td>
                <td><a target="_blank" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EfjLF3FrBexJt-7uD-YKZSsBuC-w_xOxVYgTeTC8uxz5-A?e=NXosNZ">2025 Proposed Resolutions</a></td>
                <td><i>This is a proposal document. Nothing in this document is approved until ratified at the State Convention.</i></td>
            </tr>
            <tr>
                <td>Posted 3/24/2025</td>
                <td><a target="_blank" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EWFzcf99PslHtKKz-8OPRhEB5I2sYA-DBzna69VrhRO0ug?e=noe3Bb">2025 Proposed Bylaws Revision</a></td>
                <td><i>This is a proposal document. Nothing in this document is approved until ratified at the State Convention.</i></td>
            </tr>
            <tr>
                <td>Posted 3/24/2025</td>
                <td><a target="_blank" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EQdUsNa0Z-9JlUKmtaBS4qkBLLZ4KOYj6ZiOZrM-UdHwUQ?e=8mruYX">2025 Proposed Special Rules and Standing Rules</a></td>
                <td><i>This is a proposal document. Nothing in this document is approved until ratified at the State Convention.</i></td>
            </tr>
            <tr>
                <td>Posted 4/23/2025</td>
                <td><a target="_blank" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EfIm7vrpnxtAl2CfCusrXL4BTBfoRigzE8oBBl0ux1b9qw?e=GSvr1y">Tribute to Pope Francis</a></td>
                <td><i>This is a proposal document. Nothing in this document is approved until ratified at the State Convention.</i></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="2">State Secretary's Annual Report</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="2">State Treasurer's Annual Report</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="2"><a target="_blank" href="https://kofcwa.sharepoint.com/:w:/s/WebsiteStorage/EZ6jPt9Aj3hEunw6-_5p-7YBDv0V8uakGfMP8uJI0I483A?e=ah5eFs">State Advocate's Annual Report</a></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="2"><a target="_blank" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EcVshp7qZehIrnVbA0wALRQB6GX7FZGpx03n_QxX3SyzUA?e=2kZRDb">State Warden's Annual Report</a></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="2">Immediate Past State Deputy's Annual Report</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="2"><a target="_blank" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/ERVOFzE7XQNKlU-SR8s4thAB2RnfeBhqfxnXC-Ui7JlBxA?e=u2ZQvC">Convention Committee Assignments</a></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="2"><a target="_blank" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EcnPCHhR3epOgSoihbN6htYBL5i3bugXgYvL4DGTm49DxA?e=NrBba0">State Directors, State Chairmen, District Deputies, and Councils' Annual Report</a></td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
                <td id="2024ProceedingsReports" style="font-weight: bold;">2024 121st State Convention</td>
                <td><a target="_blank" rel="noopener noreferrer" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/Ef3bATzrmjtCnFTCDyd8wXwB1Tkd0MVHz07GWWd-sI2G5A?e=USk1kb">State Convention Proceedings</a></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="2"><a target="_blank" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EayNYXbjUdxLjZs2jUFV-b4B06J4N787zf4-iop3YRSqww?e=ghgOT7">State Secretary's Annual Report</a></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="2"><a target="_blank" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EdZv25Mfg8xJtn-f75ENssgBcfzFjJMlJiwnflLehMnOUg?e=Ut9OYK">State Treasurer's Annual Report</a></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="2"><a target="_blank" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/Ef31TxKJ6k1Apqj79MvGLUEBbyPuq-3GirzxBgup9dlotg?e=n35Xub">State Advocate's Annual Report</a></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="2"><a target="_blank" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EYKoCYl0d7NMvXU1UUZBdPQB5Yt_xSGHc977PxT0EsyZew?e=RdbFS9">State Warden's Annual Report</a></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="2"><a target="_blank" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EcgnBAtnIddBgr-8-WoJT2gBx5SaylUDpIKvn2OfeC6rAg?e=McTBVd">Immediate Past State Deputy's Annual Report</a></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="2"><a target="_blank" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EVB-9Gc2Sk5PtEcAVvPu0UUBiJ7SssnxkPRFAUT28Y2FVA?e=PHwt8E">State Directors, State Chairmen, District Deputies, and Councils' Annual Report</a></td>
            </tr>
        </tbody>
    </table>
    <table class="table">
        <thead>
            <tr>
                <th style="text-align:center;" colspan="3">
                    <h3 class="MyPageHdr">2025 Declarations of Intent and Nominations</h3>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="3" align="center">The following individuals have declared their intention to run for the following state offices or as a Supreme Convention delegate. All nominations posted here are not official until made and approved at the state convention floor.</td>
            </tr>
            <tr><td colspan="3">&nbsp;</td></tr>
            <tr>
                <td colspan="3" align="center">
                    <h3 class="MyPageHdr">State Officer Declarations</h3>
                </td>
            </tr>
            <tr>
                <td>State Deputy</td>
                <td colspan="2">Thomas C. Williams</td>
            </tr>
            <tr>
                <td>State Secretary</td>
                <td colspan="2">Dr. Scott Hulse</td>
            </tr>
            <tr>
                <td>State Treasurer</td>
                <td colspan="2"><a target="_blank" href="https://kofcwa.sharepoint.com/:w:/s/WebsiteStorage/EfEB3oaaLplFrnfITF8jsnMBJPQYUF_fxtxOwJ2RlsFgEw?e=BzmEDL">Dave Olwell</a></td>
            </tr>
            <tr>
                <td>State Advocate</td>
                <td colspan="2"><a target="_blank" href="https://kofcwa.sharepoint.com/:w:/s/WebsiteStorage/EVNJLdnVgixElFX7vtJvGGcBCtQzmhEEWdXS6WcazcIk-Q?e=pci1gJ">Dang H. Nguyen</a></td>
            </tr>
            <tr>
                <td>State Warden</td>
                <td colspan="2">
                    Daniel Herrera<br/>
                </td>
            </tr>
            <tr>
                <td colspan="3" align="center">
                    <h3 class="MyPageHdr">Supreme Convention Delegates</h3>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>Dave Olwell</td>
                <td>Insurance</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><a target="_blank" href="https://kofcwa.sharepoint.com/:w:/s/WebsiteStorage/EQT1hGyMDZlDq0F3faG0L2ABCiGEba6x7rFRTmVCzhB-qQ?e=ivLnwO">William Prather</a></td>
                <td>Associate</td>
            </tr>
        </tbody>
     </table>
</figure>