@page
@model KofCWSCWebsite.Pages.AOI.FirstQtrfy20242025Model
@{
    ViewData["Title"] = "2024 Fraternal Leader Resources";
}
<h1 class="MyPageHdr">First Quarter FY 2024-2025 Goals, Strategy, Incentives and Resources</h1>
<br />
<h3 class="MyColHdr">2024 Fraternal Leader Resources</h3>
<ul>
    <li>
        <div>
            <a ID="HyperLink14" Target="_blank" runat="server" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EYPxyBNsHdBKskJuuYoF4fUB8HWe7zl8zzSGrfUdBw7eew?e=S2MXNw">10506-council-development-retention-guidelines</a>
        </div>
    </li>
    <li>
        <div>
            <a ID="HyperLink1" Target="_blank" runat="server" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EdZtdmti59NGuGv9c8dwmSgBbjYUKLKC0ch-L5Uq22i6wQ?e=nFMSE6">10907-faith-in-action-guidebook</a>
        </div>
    </li>
    <li>
        <div>
            <a ID="HyperLink2" Target="_blank" runat="server" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/ESc6yukYOlZHjsKl5CHoEW8BQzhc47D55wJOykXZwSmjbg?e=wvY3Y1">10999-working-with-your-pastor</a>
        </div>
    </li>
    <li>
        <div>
            <a ID="HyperLink3" Target="_blank" runat="server" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/Eespz8ntgx5EnSg91F8AozQBmYbB1U1dnap0U2PHHWIrhQ?e=lv5eL5">11208-officers-online-infographic</a>
        </div>
    </li>
    <li>
        <div>
            <a ID="HyperLink4" Target="_blank" runat="server" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EbZ2YFSI_-VEsZHmUJ4UtF0BYhY5mfaCw7k262NS_mYDQw?e=cUnhMk">11342-district-organizational-meeting-agenda</a>
        </div>
    </li>
    <li>
        <div>
            <a ID="HyperLink5" Target="_blank" runat="server" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/Ed-3u8W6BP9PkoHxCESsV-ABXCf4vFLCtbq2iDqKwYKzMQ?e=EZmhNZ">11619-fraternal-excellence-guide</a>
        </div>
    </li>
    <li>
        <div>
            <a ID="HyperLink6" Target="_blank" runat="server" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/ESwHjGfHtmlNrByBV_4tmisBx5ab_os1C0GuyqLto9EzHw?e=jvrwYx">11620-protocol-meetings-and-ceremonials</a>
        </div>
    </li>
    <li>
        <div>
            <a ID="HyperLink7" Target="_blank" runat="server" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EQUODbo79jRGkP3Ke2bk6MsBctghvFX3XG2JFITypAOghg?e=iBmQEy">2235-public-relations-and-publicity-guide</a>
        </div>
    </li>
    <li>
        <div>
            <a ID="HyperLink8" Target="_blank" runat="server" href="https://kofcwa.sharepoint.com/:w:/s/WebsiteStorage/Eeczh8YL64pCnPjRVc4KUPEBSBSdSa7ws7Az075fkpm_Gw?e=vib0EY">24-25 Leadership Resources Summary</a>
        </div>
    </li>
    <li>
        <div>
            <a ID="HyperLink9" Target="_blank" runat="server" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EXLsSfWGOP1EneocdxW79jQBKHCKql1B4eHMlRitB-pIXg?e=nJNEXz">charter-constitutionlaws-30</a>
        </div>
    </li>
    <li>
        <div>
            <a ID="HyperLink10" Target="_blank" runat="server" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EUczh4Lv6XtGpB1ToJ381U0BJRkFKRb8595E407GC7zDgA?e=etlIak">district-meeting-planning-notes</a>
        </div>
    </li>
    <li>
        <div>
            <a ID="HyperLink11" Target="_blank" runat="server" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EUyoyLVJCKFGqW5knuEYxwoBbLIN152j2y5UmouFPJf-iw?e=BV3mMc">district-meeting-sample-agenda</a>
        </div>
    </li>
    <li>
        <div>
            <a ID="HyperLink12" Target="_blank" runat="server" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EWnuOmMk_y1PmKvnu9RG6hEBnTVHaHCUFN-t3yMxL2LxTg?e=LxDh0P">fraternal-leader-success-planner5033</a>
        </div>
    </li>
    <li>
        <div>
            <a ID="HyperLink13" Target="_blank" runat="server" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EerPWCQwPJhJhW84aFjJagoBUZrkufsgnK1lMrIh3KYlWg?e=KFaroa">interest_survey</a>
        </div>
    </li>
    <li>
        <div>
            <a ID="HyperLink15" Target="_blank" runat="server" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EROoAoaXwZlKoRJBCNlpOIABaABv_jy3PgcCFRBOIewMaQ?e=wsQUZP">kccf-council-account11204</a>
        </div>
    </li>
</ul>

<h3 class="MyColHdr">2024 District Deputy Org Mtg</h3>
<ul>
    <li>
        <div class="MyColHdr">2024 WSC DD Org Meeting - Ceremonials, Round Tables, Mergers</div>
    </li>
    <li>
        <div class="auto-style1">
            <a ID="HyperLink16" Target="_blank" runat="server" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EZzKNI2DSzJNgjtiQAwTKAoBtFMlEJ1oLz2a6AHVY_7o5A?e=1usR1j">11620-protocol-meetings-and-ceremonials</a>
        </div>
    </li>
    <li>
        <div class="auto-style1">
            <a ID="HyperLink18" Target="_blank" runat="server" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EQ0ru1Od5KZKgcPKDUVkeVwB4Jw7CdmBVP1r9DDq6Nvg3A?e=J3aSWW">best-practices-in-person-exemplifications 6-2023</a>
        </div>
    </li>
    <li>
        <div class="auto-style1">
            <a ID="HyperLink19" Target="_blank" runat="server" href="https://kofcwa.sharepoint.com/:w:/s/WebsiteStorage/EX74kkZ2LSZKmg2Z3M691pABxDTKhzbGCW7IxDqGtD7RmA?e=qxRe81">CEREMONIALS-RT-Mergers Presentations</a>
        </div>
    </li>
    <li>
        <div class="auto-style1">
            <a ID="HyperLink20" Target="_blank" runat="server" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/Ed2lIaC2DWpLsHajcmgzYygBwVmr7lCWMIRNBikquAniJA?e=Z1o6gp">roundtable_coor BLANK 2629_p</a>
        </div>
    </li>
    <li>
        <div class="auto-style1">
            <a ID="HyperLink21" Target="_blank" runat="server" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EdVZPZ3TsuxFhcEHFHLE7qQBFia9k3snJp8su5xbVAN3gA?e=O63o6I">Supreme - Merger of Councils Procedure</a>
        </div>
    </li>
    <li>
        <div class="MyColHdr">2024 WSC DD Org Meeting - Fraternal Year Road to Success</div>
    </li>
    <li>
        <div class="auto-style1">
            <a ID="HyperLink22" Target="_blank" runat="server" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EXfO-zPrlRdMuSm5EYWZvksBBpfhpvabGQhW_PXlbwubbA?e=BM32Ob">Fraternal Year Road to Success</a>
        </div>
    </li>
    <li>
        <div class="MyColHdr">2024 WSC DD Org Meeting - Leadership</div>
    </li>
    <li>
        <div class="auto-style1">
            <a ID="HyperLink23" Target="_blank" runat="server" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EQJOtU4rgAhNukcr1Xxl4RQBZlaXI4IF9B9Xnfs7I78xtg?e=sbwLjY">Council-DD Succession Planning DECK RJK May-2024</a>
        </div>
    </li>
    <li>
        <div class="auto-style1">
            <a ID="HyperLink24" Target="_blank" runat="server" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EYVY7gsD0xBIrQcnyaAzfYgBMSBs3tyRoA3R7gNT7EyoSA?e=YYxAaY">districtdeputyguide</a>
        </div>
    </li>
    <li>
        <div class="auto-style1">
            <a ID="HyperLink25" Target="_blank" runat="server" href="https://kofcwa.sharepoint.com/:w:/s/WebsiteStorage/EfSsqL6IGn5IgEX-YCLgR3IBIWKRRn2qwp66tj0NNfQerg?e=5EKmGB">Traits of a Good Leader Definitions</a>
        </div>
    </li>
    <li>
        <div class="MyColHdr">2024 WSC DD Org Meeting - Membership</div>
    </li>
    <li>
        <div class="auto-style1">
            <a ID="HyperLink26" Target="_blank" runat="server" href="https://kofcwa.sharepoint.com/:p:/s/WebsiteStorage/EWVgoE4uQ4lKjbAAGeFILEgBqbJQIXLhHPB8tV_5Ju9JkA?e=aXWjKi">01 - WA State Membership Team - 2024-2025(2)</a>
        </div>
    </li>
    <li>
        <div class="auto-style1">
            <a ID="HyperLink27" Target="_blank" runat="server" href="https://kofcwa.sharepoint.com/:p:/s/WebsiteStorage/EaZbIGXfLtZIphgGntTwlVEB8XRHse4N36BK1GNkMIduFA?e=twT2Fe">03 - WA State Incentives - 2024-2025 (002)_sdedits_20240710</a>
        </div>
    </li>
    <li>
        <div class="auto-style1">
            <a ID="HyperLink28" Target="_blank" runat="server" href="https://kofcwa.sharepoint.com/:p:/s/WebsiteStorage/ET_nXXkv3t1NlbsxVqWqWIEB-o9X8SAblBJPq8G2b4LduQ?e=2EWBOw">05 - WA State Goals Strategy 2024-2025_sd_v20240709</a>
        </div>
    </li>
    <li>
        <div class="auto-style1">
            <a ID="HyperLink29" Target="_blank" runat="server" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EfQ3YIyVgN1Ki5PAmUPfCyoBethOxQRuJi7B4BwNoIibGQ?e=mR18ej">07 July Membership Flyer English</a>
        </div>
    </li>
    <li>
        <div class="auto-style1">
            <a ID="HyperLink30" Target="_blank" runat="server" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EaWaWdN9pndEgHSUSIRZtlsBqSo4pM0bTSoKbnxaatJh5Q?e=YfMdYm">07 July Membership Flyer SPANISH</a>
        </div>
    </li>
    <li>
        <div class="auto-style1">
            <a ID="HyperLink31" Target="_blank" runat="server" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EfUDmB6wpElDqDl8MC9830YBaKl0b_o8IXT39Cx7uYrJVw?e=A1j47C">08 August Membership Flyer - English</a>
        </div>
    </li>
    <li>
        <div class="auto-style1">
            <a ID="HyperLink32" Target="_blank" runat="server" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EWUqwH95S_9Gn_QM13EnvdEBRwokAXww_FwDaINiJphREg?e=O2onAc">08 August Membership Flyer - Spanish</a>
        </div>
    </li>
    <li>
        <div class="auto-style1">
            <a ID="HyperLink33" Target="_blank" runat="server" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/Ebi-3ZnE8KBFtjEnunLqcIABOyuZuR83LxJF0_JhI6LyYg?e=k1wswt">09 September Membership Flyer - English</a>
        </div>
    </li>
    <li>
        <div class="auto-style1">
            <a ID="HyperLink34" Target="_blank" runat="server" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EXf_PX7ZAfRJv0_F0wsOEDcBg70XZbqMcu2elI0cbSdP8A?e=ZK3yML">09 September Membership Flyer - Spanish</a>
        </div>
    </li>
    <li>
        <div class="auto-style1">
            <a ID="HyperLink35" Target="_blank" runat="server" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EbR7bayfXHNLuz3i_9zHoo0BwzAK4sikJ61K8x65Znlrww?e=Mw2Oy0">online-membership-application-walkthrough</a>
        </div>
    </li>
    <li>
        <div class="auto-style1">
            <a ID="HyperLink36" Target="_blank" runat="server" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/ES6ceuSWWb9Fu_VGeaTqN9oB-cbTJnz2sS2pBR0iYnv1Mg?e=Uhebfh">prospect-tab-walkthrough</a>
        </div>
    </li>
    <li>
        <div class="MyColHdr">2024 WSC DD Org Meeting - Programs</div>
    </li>
    <li>
        <div class="auto-style1">
            <a ID="HyperLink37" Target="_blank" runat="server" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EWR9ikXqCRVEjixkJepR2SsBM93aKvfAxPIBwdF3oBmMeA?e=mqlmsF">11348-eucharistic-procession-guidebook</a>
        </div>
    </li>
    <li>
        <div class="auto-style1">
            <a ID="HyperLink38" Target="_blank" runat="server" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EVFBrEua4pZErvVHyIKz6H8BZhenk48Ok7ZRTOt6n30voA?e=pZxBmh">11371-aid-and-support-guide-book</a>
        </div>
    </li>
    <li>
        <div class="auto-style1">
            <a ID="HyperLink39" Target="_blank" runat="server" href="https://kofcwa.sharepoint.com/:w:/s/WebsiteStorage/EW3auxSF4kNGnGd0kUfLRzgBWxrZU4VKxaJAJLO5Sw6hfw?e=Xna3VB">2024 Coats FAQs 2024 - June 17</a>
        </div>
    </li>
    <li>
        <div class="auto-style1">
            <a ID="HyperLink40" Target="_blank" runat="server" href="https://kofcwa.sharepoint.com/:p:/s/WebsiteStorage/EVdkcVld67JDocQRKIUMksIBGQ11kaQNc-1XRcsKvdNang?e=L7hLZb">2024 Summer Meeting as of June 17</a>
        </div>
    </li>
    <li>
        <div class="auto-style1">
            <a ID="HyperLink41" Target="_blank" runat="server" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/ESMTV8P88jZDjTCiLt5y6LUB2YD182huJXGwjjTHXAxE5g?e=s6Vask">Awards Submission Process</a>
        </div>
    </li>
    <li>
        <div class="auto-style1">
            <a ID="HyperLink42" Target="_blank" runat="server" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/ET-HbjmIMlVJjPKT8tPGZg4BilPSW9g-AOU02yWT2tczng?e=T9PTg4">CC TR 2023 State Banner_47434</a>
        </div>
    </li>
    <li>
        <div class="auto-style1">
            <a ID="HyperLink43" Target="_blank" runat="server" href="https://kofcwa.sharepoint.com/:u:/s/WebsiteStorage/EXX7FtGYKddMqr23grgr7esB9mZJIp5u9wUHy4iuMfk3mA?e=k9sgv7">Columbus Charities Tootsie Roll main website</a>
        </div>
    </li>
    <li>
        <div class="auto-style1">
            <a ID="HyperLink44" Target="_blank" runat="server" href="https://kofcwa.sharepoint.com/:p:/s/WebsiteStorage/Ed6Pm4lim_RAkrTdjEg_cNYBFt371q_BK-3YLrXS4ZOmqA?e=cTvAVZ">danno - summer leadership meeting 2024-2025(1)_SDedits_20240707</a>
        </div>
    </li>
    <li>
        <div class="auto-style1">
            <a ID="HyperLink45" Target="_blank" runat="server" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EX_S4EjuxU5Gi2rB3dA_ojoBhbv9c0yI2-SzoqqtJYAgew?e=GjreCp">old CouncilChairmanForm1</a>
        </div>
    </li>
    <li>
        <div class="auto-style1">
            <a ID="HyperLink46" Target="_blank" runat="server" href="https://form.jotform.com/231855942705058">online Tootsie roll apron order form</a>
        </div>
    </li>
    <li>
        <div class="auto-style1">
            <a ID="HyperLink47" Target="_blank" runat="server" href="https://form.jotform.com/231857013130142">online Tootsie Roll banner order form</a>
        </div>
    </li>
    <li>
        <div class="auto-style1">
            <a ID="HyperLink48" Target="_blank" runat="server" href="https://form.jotform.com/231846323903051">online Tootsie Roll Council Chairman Registration form</a>
        </div>
    </li>
    <li>
        <div class="auto-style1">
            <a ID="HyperLink49" Target="_blank" runat="server" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/ETxwZwaYLiFPkhPTLHe0sBwBdecyGtGxbzmc0hhT2qmxHw?e=Cevqvw">Program Forms Reference Guide</a>
        </div>
    </li>
    <li>
        <div class="auto-style1">
            <a ID="HyperLink50" Target="_blank" runat="server" href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EZ7HSQx2HRJPr5MOppcxtUIBNLtg9vAhKnjqw3pqmd75nA?e=Hw5GtL">Tootsie Roll Initial Drive information</a>
        </div>
    </li>
</ul>





<h3 class="MyColHdr">2024 State Deputy Org Mtg</h3>
<ul>
    <li>
        <div>
            <a ID="HyperLink17" Target="_blank" runat="server" href="https://kofcwa.sharepoint.com/:p:/s/WebsiteStorage/EboIsz8VWXdCrjxpKzvnakABcFcaeHhlqduOIG7SNdP9mA?e=lVeKgl">Grow in Efficiency v2</a>
        </div>
    </li>
    <li>
        <div>
            <a ID="HyperLink51" Target="_blank" runat="server" href="https://kofcwa.sharepoint.com/:p:/s/WebsiteStorage/EVFNuYXXqq1EhoGOMlEkooEBoFSnCY58nxAb0d9yvT0IMw?e=o7Kuhs">Grow in Faith v2</a>
        </div>
    </li>
    <li>
        <div>
            <a ID="HyperLink52" Target="_blank" runat="server" href="https://kofcwa.sharepoint.com/:p:/s/WebsiteStorage/ETfXGs5f43pIlAFcrHt0Kr8BYR2qwK7TbWpV09qgz12rBg?e=43txRD">Grow in Fraternity</a>
        </div>
    </li>
    <li>
        <div>
            <a ID="HyperLink53" Target="_blank" runat="server" href="https://kofcwa.sharepoint.com/:p:/s/WebsiteStorage/Eetg_JK78B1PstOACOgwrfEBqRRc9ducTdaKE3aJAdew7w?e=NUbHId">Grow in Impact - Charitable Fund v2</a>
        </div>
    </li>
    <li>
        <div>
            <a ID="HyperLink54" Target="_blank" runat="server" href="https://kofcwa.sharepoint.com/:p:/s/WebsiteStorage/EUG_4zqQ0_hFrRGL_OhjjwQBJA77KC5UkMKgkZ0Vu-iCmw?e=No8vKV">Grow in Impact - Marketing _ Member Experience</a>
        </div>
    </li>
    <li>
        <div>
            <a ID="HyperLink55" Target="_blank" runat="server" href="https://kofcwa.sharepoint.com/:p:/s/WebsiteStorage/EZgCGx6a0ftHoiQsNkomqnwBLgUGcbHknd-Njx2JubwHPg?e=cOH9GA">Grow in Membership v2</a>
        </div>
    </li>
</ul>