@page
@model KofCWSCWebsite.Pages.AOI.FredMyerSignup2024Model
@{
}
<div>
    <div>
        <h3 class="MyPageHdr">2024 Fred Meyer Tootsie Roll Drive Sign Up</h3>
    </div>
    <div>
        <a href="https://kofcwa.sharepoint.com/:w:/s/WebsiteStorage/EXqNvmJXIPNKutvcD9pCpxYBVCLWEPRG2AKEGLwCvidgRA?e=M8loWY" target="_blank">Pre Doorway Activites Contribution Report</a><br />
    </div>
    <div>
        <a href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/Ee26SirhIHtElr_hzAu1Vf8BZav6bKKFGv8n2fh1fbEJtQ?e=qlxvv0" target="_blank">Pre Doorway Scheduling Instructions and Store List</a><br />
    </div>
    <div>
        <a href="https://kofcwa.sharepoint.com/:x:/s/WebsiteStorage/EaZVNYKhUV5Dt3dpeqjDBNgBl-6M7oMr1x6QUtFanQSqlQ?e=lbqBak" target="_blank">Pre Master 2024 Fred Meyer Doorway Schedule </a><br />
    </div>
</div>