@page
@model KofCWSCWebsite.Pages.AOI.LifeTalkNWModel
@{
}

<div style="text-align:center">
    <h2 class="MyPageHdr">LifeTalkNW by Sacred Heart Radio Podcasts</h2>
</div>

<div align="center">
     <img src="/images/AOI/Sacred Heart Radio Podcast Show Cover.png" width="75%">
</div>

<div>
<p style="text-align:center;">Listen to the podcasts on Spotify below</p>
<p style="text-align:center;"><iframe src="https://podcasters.spotify.com/pod/show/sacredheartradio/embed/episodes/LTNW-161-Knights-of-Columbus-talk-with-Katie--Part-1-e2e9g5i/a-aar3cso" height="102px" width="400px" frameborder="0" scrolling="no"></iframe></p>
<p style="text-align:center;"><iframe src="https://podcasters.spotify.com/pod/show/sacredheartradio/embed/episodes/LTNW-162-Knights-of-Columbus-talk-with-Katie---Part-2-e2f548o/a-aatj7dk" height="102px" width="400px" frameborder="0" scrolling="no"></iframe></p>
</div>
