@page
@model KofCWSCWebsite.Pages.AOI.LifeTalkNWModel
@{
}

<div>
    <h2 class="MyPageHdr">Sacred Heart Radio</h2>
</div>

<div>
    <h3 class="MyColHdr">LifeTalk NW Podcasts</h3>
</div>

<div align="center">
     <img src="/images/AOI/Sacred Heart Radio Podcast Show Cover.png" width="75%">
    <h3 class="MyColHdr">Talk with Katie</h3>
<p style="text-align:center;">Listen to the podcasts on Spotify below</p>
<p style="text-align:center;"><iframe src="https://podcasters.spotify.com/pod/show/sacredheartradio/embed/episodes/LTNW-161-Knights-of-Columbus-talk-with-Katie--Part-1-e2e9g5i/a-aar3cso" height="102px" width="400px" frameborder="0" scrolling="no"></iframe></p>
<p style="text-align:center;"><iframe src="https://podcasters.spotify.com/pod/show/sacredheartradio/embed/episodes/LTNW-162-Knights-of-Columbus-talk-with-Katie---Part-2-e2f548o/a-aatj7dk" height="102px" width="400px" frameborder="0" scrolling="no"></iframe></p>
</div>

<div>
    <h3 class="MyColHdr">Sacred Heart Radio</h3>
	<a href="https://sacredheartradio.org/resource-links/" target=_blank>Resource Links</a>
</div>
