@page
@model KofCWSCWebsite.Pages.AOI.McGivneyHallModel
@{
}
<div class="hpContent" style="text-align: center; font-size: x-large; font-weight: bold">
    <h1 style="background-color:DodgerBlue;">
        Cor Cristi Program
        <br />
        Father Michael J. McGivney Hall - Bishop White Seminary
    </h1>
</div>
<div style="text-align: left; font-size: large">
    <p>
        <br>
        <Strong>COR CHRISTI • PRE-SEMINARY FORMATION </Strong> <br />
    <p />

    Forming Solid Catholic Men Ready to Begin Seminary  <br /> <p />
    Cor Christi is a new program that fulfills the Vatican’s new requirement for a “propaedeutic phase” before men begin seminary. Its purpose is to form strong Catholic men in the heart of Christ, so that they have a solid foundation for their journey through seminary.

    Men in the new program will live in McGivney Hall, a building just one block from Bishop White Seminary. Renovations on the building will begin in summer 2021 so that Cor Christi can launch in Fall 2022.
    <br />


    <strong><br>How You Can Help </strong><br />

    A huge effort is underway throughout Northwestern dioceses to raise funds for this critical new program, which will be the launching point for future priests for years to come.

    The building and renovations will cost $3.6 million. Will you help fund this new home for the men who are generously giving their lives to serve as priests?

    <br /> <br />

    For more information, please contact WSC Vocations Chairman  <a href="mailto: Vocations@kofc-wa.org">Tim Coyle </a> (Vocations@kofc-wa.org)  <br /> <br />

    <center>
        <a href="https://bishopwhitesem.org/cor-christi/">Link to the Cor Christi Website </a> <br /> <br />

        <a href="https://youtu.be/s6xPbihww-4">Link to the Cor Christi Video </a> <br /><br />

        <a href="https://bishopwhitesem.org/wp-content/uploads/2021/05/Talking-Points-FAQs-for-District-Deputies-and-Grand-Knights.pdf">Knights of Columbus Talking Points </a> <br /><br />

        <a href="https://bishopwhitesem.org/wp-content/uploads/2021/05/KofC-Flyer-on-McGivney-Hall.pdf">Knights of Columbus Quick Facts Flyer </a> <br /><br /><br />

        <strong><a href="https://bishopwhitesem.org/knights-of-columbus-donation-portal/"<p font-size:30px">Link to the Knights of Columbus Donation Portal</strong></a><br /><br /><br />
    </center>
</div>

