@page
@model KofCWSCWebsite.Pages.AOI.RegionalMeetingModel
@{
}
<div style="text-align:center">
    <h2>2024 Washington State Regional Meeting</h2>
    <h3>Fall 2024</h3>
</div>
<div style="text-align:center">
    <a href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EfcyEPyb2TNKussUxk2bMSgBMS00MlVGri75ypS_1ahDXQ?e=zUOp3f" target="_blank">Agenda</a><br />
    <a href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/ETtGdloF2BlHmzRrJhzFHu0B_treBV7-P97yDfjYrQLUnA?e=resO2b" target="_blank">Regional Meeting Schedule</a><br />
    <a href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EVw9P-I5HqBNviG_5Qxgx_oB1mSOENfB6L6iBJDkrgqQQA?e=HjVPdS" target="_blank">SD Regional Meeting Letter</a><br />
</div>