@page
@model KofCWSCWebsite.Pages.AOI.RegionalMeetingModel
@{
}
<div style="text-align:center">
    <h2 class="MyPageHdr">2024 Washington State Regional Meeting</h2>
    <h3 class="MyColHdr">Fall 2024</h3>
</div>

<div>
    <h3 class="MyColHdr">Meeting Information</h3>
    <a href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EfcyEPyb2TNKussUxk2bMSgBMS00MlVGri75ypS_1ahDXQ?e=zUOp3f" target="_blank">Agenda</a><br />
    <a href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/ETtGdloF2BlHmzRrJhzFHu0B_treBV7-P97yDfjYrQLUnA?e=resO2b" target="_blank">Regional Meeting Schedule</a><br />
    <a href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EVw9P-I5HqBNviG_5Qxgx_oB1mSOENfB6L6iBJDkrgqQQA?e=HjVPdS" target="_blank">SD Regional Meeting Letter</a><br />
</div>
<div>
    <h3 class="MyColHdr">Meeting Documents</h3>
    <a href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EaRM4xefixJIhWJTAKi7U2MBN0GA9v2IdzSaWQc5YfgWeQ?e=pgaiO3" target="_blank">00.01 - WA State Regonial Meeting Agenda.20249824 (SD)</a><br />
    <a href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EfFQgSgRwrBDqK1cfW_akL4BitkMgo838e9e53RNwSKRTg?e=VJzDE0" target="_blank">02.01 - Cor Presentation (Jesse)</a><br />
    <a href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/ERUUXmgc5S5Bhje0r7dmxngBZBwIUx2nH49qmrA1yuJjqQ?e=Ipm9xs" target="_blank">04.01 - WA State Membership Team - 2024-2025 (Rutland)</a><br />
    <a href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EbRU3MvzpFRLnf2fVV0kYpUB15jpEF4unWYYRWrkwFYCKA?e=v5FfID" target="_blank">04.02 - WA State Incentives - 2024-2025. (Rutland)sdedits</a><br />
    <a href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EX1H67Xl9hZJiXoO7Uq8Dh0BkE7lwxuXiaPtzGhfPZxqxg?e=aQ0bnO" target="_blank">04.03 - WA State Goals Strategy 2024-2025 (Rutland)sd</a><br />
    <a href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EWqR6H2ziUpMrhz3SHYsCygBp3jmxMu_FpAdz3a9Fs5eEQ?e=9pXdX8" target="_blank">04.04 - Forms 10784 & SP-7 Strategy (Rutland)</a><br />
    <a href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/ETDp-SNzExhMhzjvWSI3c9cBAu7pE2bwsJZCYXadpH-3Pg?e=H3HL2O" target="_blank">05.21 - Coats For Kids 2024-2025 (Winkler)</a><br />
    <a href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EUoakqtHbOdNj3jsgpuxFygB8gSi3_bnQWbt7OmIAc3OuQ?e=z6yriv" target="_blank">06.05 - State Advocate Issues (Olwell)</a><br />
    <a href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EUWSCY6RgwVOnrLJ6ljvPEUBxyM_3SfshHLFJHTo8iY5rA?e=Hic1Ig" target="_blank">08.01 - Next Six Month Letter (Williams)</a><br />
    <a href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/ERdPokT7XghBpNRB1rwb8soBy2Q3sBustybUKAc2Lu0PdQ?e=eAqH52" target="_blank">08.02 - Liability Insurance (Williams)</a><br />
    <a href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EfG_WTAfnb1Eswkkn_NLx_QBJf_6HLtS6ho05By1brTepQ?e=8t4gN7" target="_blank">08.03 - Necrology - Prayer Request (Williams)</a><br />
    <a href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EcxfgJ2k3gxOrPvBy3FsuscB9ju4KzdC2A4q5Tn_1iT3Tw?e=CilXQo" target="_blank">09.01 - Fraternal Year Road to Success (Nguyen)</a><br />
    <a href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EeOVVxR9-uhPo-tTEWIr6-sBaKu-4TsPCYdmVIlMIpsphA?e=orwxkj" target="_blank">2023-24 International Life Program Award Winner's program application</a><br />
    <a href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EXE9Hx4v2HpHv-ov3s2dHmQBLvbvC-6ZP1w-2P5LpLGoBg?e=7whjWM" target="_blank">Tootsie Roll Program Regional Meeting 2024</a><br />
    <a href="https://kofcwa.sharepoint.com/:p:/s/WebsiteStorage/EY2b0vHnQQtKpnO47pAHW5ABvBGSc7Kk-TOejg6N1UfTVQ?e=dRy2aw" target="_blank">2024 Regional Meeting State Deputy Briefing</a>
</div>