@page
@model KofCWSCWebsite.Pages.AOI.SecondQtrfy20242025Model
@{
}
<h1 class="MyPageHdr">Second Quarter FY 2024-2025 Membership Resources</h1>
<br />
<h3 class="MyColHdr">Membership Flyers</h3>
<ul>
    <li>
        <div>
            <a href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EXtBtA9OXLVMrFMx6GfnbacBBK46cHcQSkATl1yb7msveg?e=MoYpVf" target=_blank>October</a>
        </div>
    </li>
    <li>
        <div>
            <a href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EY_OKyvKv31LqkU1J0KT-JcBNXsZzm0rKc_twMo4O0BhKA?e=vKkqAu" target=_blank>Octubre</a>
        </div>
    </li>
    <li>
        <div>
            <a href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EcFpnVDU9DFKuyshR-9xcTEBkvLDl_xpHpM1vOwzto2rKw?e=OKnsLo" target=_blank>November</a>
        </div>
    </li>
    <li>
        <div>
            <a href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/ETQPqQXjRltJpoxXp9DKYgsBRQL43YvLB38Wf6RncTjxig?e=cfihCX" target=_blank>Noviembre</a>
        </div>
    </li>
    <li>
        <div>
            <a href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EVtU2IHk__5Ltnc6lWhOkdQBwusED2QkgPjmp5JVipriUA?e=Ho5eBb" target=_blank>December</a>
        </div>
    </li>
    <li>
        <div>
            <a href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/Edb_zdHroZxCpi6eKY-d3fgB0iwO31qL4DNk0refrW8ntg?e=5JMn2g" target=_blank>Deciembre</a>
        </div>
    </li>

</ul>