@page
@model KofCWSCWebsite.Pages.AOI.SummerMeetingModel
@{
}
<h1 class="MyPageHdr">Summer Leadership Training 2025</h1>
<br />

<div>    <p align="center">
        <img width="100%" src="/images/AOI/Summer Leadership Training 2025 slide.png" /><br />
</p>
</div>