@page
@model KofCWSCWebsite.Pages.AOI.SummerMeetingModel
@{
    ViewData["Title"] = "Summer Meeting 2025";
}

<head>
    <meta charset="utf-8">
    <meta name="description" content="Knights of Columbus Washington State Council Summer Leadership Meeting">
    <meta name="keywords" content="summer, meeting, leadership, summer meeting">
    <meta name="author" content="webmaster">
    <meta name="robots" content="index, follow">
    <script src="https://zeffy-scripts.s3.ca-central-1.amazonaws.com/embed-form-script.min.js"></script>
    <title>Summer Meeting 2025</title>
</head>

<h1 class="MyPageHdr">Summer Leadership Training 2025</h1>
<br />

<div>    <p align="center">
        <img width="100%" src="/images/AOI/Summer Leadership Training 2025.png" /><br />
</p>
</div>
<h1 class="MyPageHdr">Special Messages</h1>
<p>
    <ul>
        <li><a href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/EcIoA-mGlrJLlh70CQZArVoBPxxWmgcUd3WDJqINYfnfnQ?e=AJiviF" target="_blank">State Deputy's Invitation</a></li>
        <li><a href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/ER3GHehopKhEmpelaMcydx0BZLfSgYZM6u9xeAd6bqUJ2g?e=cjOp0o" target="_blank">Letter to Ladies</a></li>
        <li><a href="https://kofcwa.sharepoint.com/:b:/s/WebsiteStorage/Eb7j0zJtlgBPv9Jr4LX0E3IBitU1IufwYHwnbtTxD6mg5Q?e=SfF3Xt" target="_blank">Agenda</a></li>
    </ul>
</p>
<p>Special "Pass the Hat" Donation to Richland Prepares (Read State Deputy's Letter above<br/>
<div style="position:relative;overflow:hidden;width:50%;padding-top:120px;"><iframe title='Donation form powered by Zeffy' style='position: absolute; border: 0; top:0;left:0;bottom:0;right:0;width:100%;height:120px' src='https://www.zeffy.com/embed/thermometer/2025-summer-meeting-pass-the-hat-richland-prepares'  allowTransparency="true"></iframe>
<button class="zeffy-btn" zeffy-form-link="https://www.zeffy.com/embed/donation-form/2025-summer-meeting-pass-the-hat-richland-prepares?modal=true">
Donate
</button></div>
<p>&nbsp;</p>
<h1 class="MyPageHdr">Registration Details</h1>
<h2 id="mealsregistration">Registration and Meals</h2>
<p>
    Registration is open through <b>July 4, 2025</b>. Continue to registration and meal selections by clicking this button<br />


    <script src="https://form.jotform.com/static/feedback2.js" type="text/javascript"></script>
    <script type="text/javascript">
        var JFL_241444272388157 = new JotformFeedback({
          formId: '241444272388157',
          base: 'https://form.jotform.com/',
          windowTitle: 'Summer Leadership Meeting Registration Form',
          backgroundColor: '#FFA500',
          fontColor: '#FFFFFF',
          type: '0',
          height: 500,
          width: 700,
          openOnLoad: false
        });
    </script>
    <script src='https://cdn.jotfor.ms/s/umd/latest/for-form-embed-handler.js'></script>
    <script>window.jotformEmbedHandler("iframe[id='241444272388157']", "https://form.jotform.com/")</script>
    <a class="btn lightbox-241444272388157"
       style="
      margin-top: 16px;
      text-transform: uppercase;
      font-size: 14px;
      text-decoration: none;
      cursor: pointer;
      display: inline-block;
      padding: 10px;
      font-family: inherit;
      text-shadow: none;
      user-select: none;
      transition: all,.1s,ease-in;
      background-color: #FFA500;
      border: 1px solid #FFA500;
      color: #FFFFFF;
      ">
        Summer Leadership Meeting Registration
    </a>
    <h2>Refund Policy</h2>
<p>We know that life happens and plans change. We will try to accommodate cancellations and issue refunds, if possible, for meal reservations paid to Washington State Council.
    We have no control over a hotel's refund and cancellation policy. Below is Washington State Council's refund policy when a cancellation is necessary.
</p>
<ol>
    <li>When a cancellation is requested within 1 week of the event: no refund</li>
    <li>When a cancellation is requested 2 weeks to 8 days before the event: 20% refund</li>
    <li>When a cancellation is requested more than 2 weeks before the event: full refund</li>
    <li>Refunds issued, if any, will not include the service charge for processing credit cards. This is known as the convenience fee on the registration form and is currently 2.9% + $0.30 for each transaction.</li>
</ol>
<p>After registering and selecting your meal options, you must make your hotel reservation directly through the hotel. Return to this page for details on hotel reservations, below.
    Washington State Council has no control over the hotel reservation system implemented by their respective owners.
</p>
<p>&nbsp;</p>
<hr width="100%" size="4" color="blue" />
<h2 id="hotelreservations">Hotel Reservations</h2>
<ol>
    <li><a href="#RedLion">Red Lion Hotel Kennewick Columbia Center</a></li>
    <li><a href="#Hampton">Hampton Inn by Hilton</a></li>
    <li><a href="#SureStay">SureStay Plus Hotel by Best Western</a></li>
</ol>
<p>&nbsp;</p>
<p>
Hotel reservations must be made directly through the hotel reservation system. Washington State Council has acquired blocks of rooms at discounted rates. However,
it is important that reservations for these rooms be made by the cut-off dates given at each hotel. Any rooms from our blocks that are un-reserved will be released
to the general public, and standard hotel rates will apply. Washington State Council and its officers cannot control the hotel rates if your reservation is made passed
the cut-off dates given below. Please see below for hotel and reservation information.
</p>
<p><i>Please make sure all reservations are made by the specified cut-off dates, below, to ensure you get the discounted group rate! After this date, all unreserved rooms are released back into general inventory and the hotel is no longer obligated to honor the discounted group rate.</i></p>
<p id="RedLion">
    <b>Red Lion Hotel Kennewick Columbia Center</b><br />
    1101 N Columbia Center Blvd.<br />
    Kennewick, WA 99936<br />
    70 rooms, $149.00/room<br />
    <b>Cut off Date - 6/30/2025</b><br />
</p>
<p>There are two ways to make a reservation:<br />
    <b>Online</b>: Go to the Red Lion hotel's website and follow these simple steps:
    <ul>
        <li><a href="https://be.synxis.com/?adult=1&arrive=2025-07-10&chain=13325&child=0&currency=USD&depart=2025-07-13&group=WAST0711&hotel=37096&level=hotel&locale=en-US&productcurrency=USD&rooms=1" target="_blank">Red Lion Hotel Kennewick Website</a></li>
        <li>Verify your check in and check out dates at the top of the screen are correct.</li>
        <li>Select the room you would like to reserve and enter in your information to book</li>
    </ul><br />
    <b>By Phone</b>: Call the hotel directly at 509-783-0611 and press 0. When asked, provide the following:
    <ul>
        <li>Group Name: Washington State Council Knights of Columbus</li>
        <li>Group Code: WAST0711</li>
        <li>Check in and out dates</li>
     </ul>
</p>
<hr width="100%" size="4" color="blue"/>
<p id="Hampton">
    <b>Hampton Inn by Hilton</b><br />
    3715 Plaza Way<br />
    Kennewick, WA 99338<br />
    50 rooms at $169/night plus tax<br />
    <b>Cutoff date 7/01/2025</b>
</p>

<p>
    <b>RESERVATIONS</b><br />
    Individual / Call In – Each individual guest must make their own reservations by calling 509-820-3023 by 07/1/2025 and identifying themselves as members of the Group. Individual guests are responsible for guaranteeing their rooms with a major credit card and paying for their accommodations.<br />
    <b>Group Name:</b>Washington State Council Knights of Columbus
</p>
<hr width="100%" size="4" color="blue" />

<p id="SureStay">
    <b>SureStay Plus Hotel by Best Western</b><br />
    4001 W 27th Avenue<br />
    Kennewick, Washington 99337<br />
    40 rooms, $174.00/room<br />
    <b>Cut off Date - 6/23/2025</b>
</p>
<p>
    <b>RESERVATIONS</b><br />
    Each individual guest must make their own reservations by calling 1-509-396-9979 by Friday, June 23, 2025. They must identify themselves as members of the Group.<br /><br />
    All reservations must be guaranteed and accompanied by a first night room deposit or guaranteed with a major credit card. Guests are responsible for paying for their own accommodations.<br /><br />
    Deposits (taken either in cash or by credit card) are refunded or credited only if notice is received 24 hours prior to arrival date and cancellation number must be obtained by guest. Incidental expenses of Group members will be the responsibility of each guest. The guest will be expected to leave a valid credit card or a cash deposit in the amount of $50.00 with the hotel at the time of check-in.<br /><br />
    <b>Group Name:</b> Washington State Council Knights of Columbus
</p>
