@page
@model KofCWSCWebsite.Pages.AOI.TomSokolModel
@{
}
<h1 class="MyPageHdr">Sir Knight Thomas John Sokol</h1>
<br />

<div>    <p align="center">
        <img src="/images/AOI/Tom Soko.png" /><br />
    <i>9/28/1937 - 10/23/2024</i><br/><i>From Kennewick, WA | Born in South Bend, IN</i></p>
    <p>Please know that Sir Knight Thomas, Former Master of the 4th Degree passed to the Lord the past week. His funeral will be held Tuesday, November 5th, at Holy Spirit Catholic Church in Kennewick. Please share this information with your members.</p>     <p>&nbsp;</p>     <p><strong>SIR THOMAS JOHN SOKOL, FM, FDD, PGK, FFN&nbsp;</strong><br><strong>ROSARY AND FUNERAL MASS&nbsp;</strong><br>&nbsp;</p>     <p><strong>NOVEMBER 5, 2024</strong><br><strong>HOLY SPIRIT CATHOLIC CHURCH</strong><br><strong>7409 W. CLEARWATER AVENUE</strong><br><strong>KENNEWICK, WA 99336&nbsp;</strong><br>&nbsp;</p>     <p><strong>ROSARY - 10:30 AM</strong><br><strong>FUNERAL MASS - 11:00 AM</strong></p>     <p>&nbsp;</p>     <p><iframe style="border-width:0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5522.15775469467!2d-119.2215425867593!3d46.20888587097533!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x549879e9c66eee67%3A0xde52d681acaefbf5!2sHoly%20Spirit%20Catholic%20Church!5e0!3m2!1sen!2sus!4v1730243112550!5m2!1sen!2sus" width="600" height="450" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>     <p>&nbsp;</p>     <p>A luncheon will be held in the Parish Center following the Funeral Mass.</p>     <p>&nbsp;</p>     <p><i>Eternal rest grant unto Brother Tom and all the faithful departed, O Lord, and let perpetual light shine upon them. May their souls and the souls of all the faithful departed, through the mercy of God, rest in peace.</i><br>&nbsp;</p>     <p><a target="_blank" rel="noopener noreferrer" href="https://www.sunsetgardenstricities.com/obituary/2024/10/thomas-j-sokol/">Read Obituary…</a></p> </div>