@page
@model KofCWSCWebsite.Pages.Community.CatholicCitizenEssayContestModel
@{
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="../style.css">


    <link defer href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>



    <title>Knights of Columbus-Washington</title>
</head>
<body>
	<img src="~/images/CommunityFade.png" class="card-img-top" alt="Faith" style="float:left;width: 200px;border-width: 0px">

	<h1> Catholic Citizenship Essay Contest</h1>
	<h3>Helping Youths be grounded in their faith through creative writing.</h3>

	<p>
		Encourage youth in your community to become citizens grounded in their faith through creative writing. Open to all Catholic students
		(public, private, home, or parochial schools) in grades 8 to 12 during the current school year.
	</p>

	<p>
		This contest encourages today’s youth to be more connected to their community and their faith. The goal of this program is to involve young
		Catholics in 8th through 12th grade (public, private, parochial or home schools) in civic discourse and instill in them religious and life-affirming
		values. The essay should be approximately 500-750 words on a specific subject, changing every other year. Entrants will be judged on grammar, style,
		and how clearly they present the theme — which should showcase creativity, imagination and overall development of the topic.
	</p>
	<hr>

	<h1>Catholic Citizenship Essay Contest 2022-2023</h1>

	<p>
		The Catholic Citizenship Essay Contest provides young people the opportunity to become citizens grounded in their faith through creative writing,
		teaching them to be more connected to their community and faith. This contest encourages today’s youth to be more connected to their community and
		their faith. This program is to involve young Catholics in grades 8 through 12 (public, private, and parochial schools) and instill in them religious
		and life- affirming values.
	</p>

	<p>
		In an essay of 500- 750 words,<span style="font-weight: bold">
			explain how young Catholics can evangelize our faith to families and friends who have
			turned away from religion and encourage them to return to the Church and embrace the sacraments?
		</span>
	</p>

	<p>
		<span style="font-weight: italic">
			“Here on earth, it’s impossible to perform a more meritorious act than visiting Jesus often in the Eucharist.
			If you took all of the good works done by all of the humans who have ever lived in all of history and stacked them all up and multiplied them by a
			million, they wouldn’t equal the merit, the virtue, and the worth of one Mass. The Eucharistic sacrifice is Christ’s infinite merit, infinite value.”
		</span> – St Teresa of Avila
	</p>

	<p>If your council is interested in helping to entice the minds of young people and connect them with their Catholic faith, please order the <span style="font-weight: italic">Catholic Citizenship Essay Contest Kit through Supplies Online - the supply ordering portal available on Officers Online.</span></p>

	<p>For more information about this program, please visit <a href="http://kofc.org/essay">http://kofc.org/essay</a>.</p>



	<script src="../script.js"></script>
	<!-- Optional JavaScript; choose one of the two! -->
	<!-- Option 1: Bootstrap Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>