@page
@model KofCWSCWebsite.Pages.Community.FreeThrowChampionshipModel
@{
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="../style.css">


    <link defer href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>



    <title>Free Throw Championship</title>
</head>
<body>
    <img src="~/images/CommunityFade.png" class="card-img-top" alt="Faith" style="float:left;width: 200px;border-width: 0px">

    <h1>Free Throw Championship</h1>
    <h3>
        Provide an athletic outlet for
        youth ages 9 to 14 in your community.
    </h3>

    <p>
        Since 1972, councils have sponsored the Knights of Columbus Free Throw Championship for boys and girls between the ages of 9 and 14 to provide
        an athletic outlet and encourage the values of sportsmanship and healthy competition. Kids compete within their own gender and age and progress
        from local level to district, regional and state/province competitions. This program is a great way to introduce the order to your community and
        recruit faithful family men of service. Councils can sponsor a competition by ordering a Free Throw Championship Kit, or volunteer to host and/or
        support the district, regional and state/province championships.
    </p>
    <hr>

    <h1>Welcome to the Washington State home for free throw information</h1>
    <h2>The State competition scheduled for March 25th 2023 in Yakima! Has been cancelled!!</h2>

    <p>
        As of Wednesday February 8th<br><br>

        Brother Knights,<br>

        The in-person state free throw final Saturday March 25th in Yakima, has been cancelled. <br><br>

        Councils are to have all participants shoot 15 free throws.<br>
        Council winners and only council winners should shoot an additional 25 free throws.<br>
        Council winner scoresheets will be forward to me no later that Friday March 17th <br><br>


        Fraternally,<br>

        Ken DeVos<br>
        State Youth Director<br>
        youth@kofc-wa.org
    </p>



    <script src="../script.js"></script>
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>