@page
@model KofCWSCWebsite.Pages.Community.HelpingHandsModel
@{
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="../style.css">


    <link defer href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>



    <title>Knights of Columbus-Washington</title>
</head>
<body>
	<img src="~/images/CommunityFade.png" class="card-img-top" alt="Faith" style="float:left;width: 200px;border-width: 0px">

	<h1>Helping Hands</h1>
	<h3>Lead efforts to assist those most in need.</h3>

	<p>
		Pope Francis writes in Evangelii Gaudium, “Our faith in Christ, who became poor, and was always close to the poor and the outcast,
		is the basis of our concern for the integral development of society’s most neglected members” (186). He goes on to say,
		“in this context we can understand Jesus’ command to his disciples: ‘you yourselves give them something to eat!’ (mk 6:37):
		it means working to eliminate the structural causes of poverty and to promote the integral development of the poor, as well
		as small daily acts of solidarity in meeting the real needs which we encounter” (188).
	</p>

	<p>
		In the model of our founder, Father McGivney, councils will lead efforts to assist those most in need.
		The Helping Hands program is designed to recognize the important work many councils already do to care for the most disadvantaged members
		of our communities — the homeless, the addicted, the elderly who may feel isolated and abandoned, and many others. Through this program,
		councils will aid the needy through the activities they feel best suit their community, such as serving at or running a soup kitchen,
		repairing the facilities of a local service organization or something entirely unique. The requirements for this program are very broad
		in order to allow councils to serve their community in whatever way is most needed. Council participation in Helping Hands is required
		to qualify for the Columbian award.
	</p>

	<hr>

	<h1>Required Supreme Council Program for Columbian Awards</h1>

	<p>
		Your council is likely already conducting a program that meets the requirements for this.
		It is important to review the rules and ensure your council is reporting, as necessary to qualify for a Columbian Award.
		A Columbian Award is also necessary to achieve Star Council.
	</p>

	<p>All information is available on the Supreme Council's web page, <a href="http://www.kofc.org/en/programs/community/helping-hands.html#/">Click Here.</a> </p>

	

	<script src="../script.js"></script>
	<!-- Optional JavaScript; choose one of the two! -->
	<!-- Option 1: Bootstrap Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


</body>
</html>
