@page
@model KofCWSCWebsite.Pages.Community.SoccerChallengeModel
@{
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="../style.css">


    <link defer href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>



    <title>Knights of Columbus-Washington</title>
</head>
<body>
	<img src="~/images/CommunityFade.png" class="card-img-top" alt="Faith" style="float:left;width: 200px;border-width: 0px">

	<h1>Soccer Challenge</h1>
	<h3>Provide an athletic outlet for youths.</h3>

	<p>
		Provide an athletic outlet for youth ages 9 to 14 in your community. Designed for players to demonstrate their skills in the penalty kick.
		Councils can sponsor a competition by ordering a soccer Challenge Kit, or volunteer to host and/or support the district, regional and state/province
		championships.
	</p>

	<p>
		The soccer Challenge is a great way for councils to engage in their communities with an athletic event for youth that encourages the values of
		sportsmanship and healthy competition. Children demonstrate the most important skill in soccer — shooting accuracy on the penalty kick — and compete
		to reach the international level of competition. The program is a great way to introduce the order to your community and recruit faithful family men
		of service.
	</p>
	<hr>

	<h1>
		Soccer Challenge final scheduled for Saturday October 22nd 2022 - has been canceled.  Council participation levels do not justify holding a
		physical event.  Send your council winners scoresheets to me no later then Friday Oct 21st!!
	</h1>

	<p>
		It is time to start putting your Soccer Challenge schedule together.
	</p>

	<p>
		<span style="font-weight: bold">About the program:</span> <br>
		The Soccer Challenge is a great way for councils to engage in their communities with an athletic event for youth that encourages the
		values of sportsmanship and healthy competition. Children demonstrate the most important skill in soccer – shooting accuracy on the penalty kick –
		and compete to reach the international level of competition. The program is also a way to introduce the Order to your community and recruit faithful
		family men of service.
	</p>



	<p>
		<span style="font-weight: bold">Timeline:</span> <br>
		The recommended time frame for the Knights of Columbus Soccer Challenge is:<br>
		Council Championship — September<br>
		District Championship — October<br>
	</p>

	<p><span style="font-weight: bold">State final:</span> <br> </p>

	<h3>
		Soccer Challenge October 22nd 2022 - Has been canceled.  Not enough councils are participating to hold a physical event.
		Send your council winners scoresheets to me no later then Friday Oct 21st!!
	</h3>


	<p>
		<span style="font-weight: bold">Your action:</span> <br>
		If you are holding a council competition, please let me.<br>
		If you have any questions please contact me.<br>

		Fraternally,<br>

		Ken DeVos<br>
		State Youth Director<br><br>

		youth@kofc-wa.org<br><br>


		PS I am looking for my replacement. If you have a contact let me know.<br>
	</p>



	<script src="../script.js"></script>
	<!-- Optional JavaScript; choose one of the two! -->
	<!-- Option 1: Bootstrap Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>