@page
@model UploadFileModel
@{
}
<h1 class="MyPageHdr">Upload Graphic Image for use with Announcements and Of Interest</h1>
<form method="post" enctype="multipart/form-data">
    <input type="file" asp-for="Upload" />
    <input type="submit" />
</form>
<br />
<div>
    @{
        if (ViewData.ContainsKey("file"))
        {

            var myMess = "Copy this URL back to your AOI Entry GraphicURL:    ";
            @myMess;
            <br />
            
            <input type="text" value="@ViewData["file"]" style="width:500px" />
        }
    }
    <br />
    ***NOTE: Please use a PNG format and limit the graphic width to 250px
    <br /><br />
    <a asp-area="" asp-controller="TblWebTrxAois" asp-action="index" asp-route-id="">Back to Manage Announcements and Of Interest</a></p>
    

</div>