@page
@model KofCWSCWebsite.Pages.Family.ConsecrationToTheHolyFamilyModel
@{
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="../style.css">


    <link defer href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>



    <title>Knights of Columbus-Washington</title>
</head>
<body>
	<img src="~/images/FamilyFade.png" class="card-img-top" alt="Faith" style="float:left;width: 200px;border-width: 0px">

	<h1>
		Consecration to the
		Holy Family
	</h1>
	<h3>Strengthen families and revitalize our parishes.</h3>

	<p>
		To help families live out the joy of Christ, supreme Chaplain Archbishop William Lori has composed a prayer through which families will come
		together to consecrate themselves under the protection of the Holy Family. In this prayer, we ask for the aid or intercession of the perfect son
		Jesus Christ, Mary the perfect mother, and Joseph who is a model for every father.
	</p>
	<p>
		Seeking to strengthen families and revitalize our parishes, councils will guide their parishes and community to understand and
		offer this important and impactful prayer. Preparing for the Consecration to the Holy Family is not a single event. It is choosing
		a way of life for your family. Through this consecration, each participant is consciously choosing to be a beacon of God’s love
		through his Church. Council participation in Consecration to the Holy Family is required to qualify for the Columbian award.
	</p>
	<hr>



	<p>
		Please add a primer record to the database for nnConsecrationToTheHolyFamily.aspx
	</p>

	<h5>Additional Resources</h5>
	<p><a href="~/StaticFiles/pdf/pdf/10605 6-18 Consecration Holy Family SS.pdf">Consecration to the Holy Family - Supreme Resource</a></p>


	<script src="../script.js"></script>
	<!-- Optional JavaScript; choose one of the two! -->
	<!-- Option 1: Bootstrap Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

	
</body>
</html>