@page
@model KofCWSCWebsite.Pages.Family.FamilyofMonthYearModel
@{
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="~/css/style.css">


    <link defer href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>



    <title>Knights of Columbus-Washington</title>
</head>
<body>
    <img src="~/images/FamilyFade.png" class="card-img-top" alt="Faith" style="float:left;width: 200px;border-width: 0px">

    <h1>Family of the Month/Year</h1>
    <h3>
        Promote and support the development
        of strong and vibrant families.
    </h3>

    <p>
        Each month, the council Family of the month committee selects one parish family that models Christian family values and visibly lives them every day.
        each council establishes a committee to recognize a deserving Family of the month and Family of the year with potential for recognition on the
        international level. once a year, each participating council also selects one of the previous twelve Family of the month winners to represent the
        council/parish as the potential international Family of the year. The Knights of Columbus Family of the year is chosen by the supreme Council and
        recognized each year at the annual supreme Convention.
    </p>
    <hr>



    <p>
        Coming Soon...
    </p>


    <h5>Additional Resources</h5>
    <p><a href="~/StaticFiles/pdf/pdf/10607 6-18 Family of Month_Year SS.pdf">Family of the Month/Year - Supreme Resource</a></p>

    <script src="~/js/script.js"></script>
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>