@page
@model KofCWSCWebsite.Pages.Family.FamilyFullyAliveModel
@{
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="../style.css">


    <link defer href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>



    <title>Knights of Columbus-Washington</title>
</head>
<body>
	<img src="~/images/FamilyFade.png" class="card-img-top" alt="Faith" style="float:left;width: 200px;border-width: 0px">

	<h1>Family Fully Alive</h1>
	<h3>
		Support the growth of holy
		and loving families in the Church.
	</h3>

	<p>
		During his visit to the Philippines, Pope Francis cited the need for “holy and loving families to protect the beauty and truth of the
		family in god’s plan and to be an example for other families” (address to Families at the mall of asia arena, 2015). The Family Fully alive
		monthly devotions are concrete ways that Knights of Columbus, in solidarity with Pope Francis, can support the growth of holy and loving
		families in the Church.
	</p>

	<p>
		The Family Fully alive program asks families to invite god into their homes and cultivates each family as a miniature domestic church. using the
		Family Fully Alive Booklet as a devotional guide, this program provides monthly themes, reflections, meditations and group projects.
		Through prayer and reflection, each family has the opportunity to grow in holiness together. This is a flexible program that can
		be started at any time of the year and continues year-round. Councils will order booklets to distribute or direct parish families
		to program resources on kofc.org, all available at no cost.
	</p>
	<hr>



	<p>
		Coming Soon...
	</p>

	<h5>Additional Resources</h5>
	<p><a href="~/StaticFiles/pdf/pdf/10606 6-18 Family Fully Alive SS.pdf">Family Fully Alive - Supreme Resource</a></p>


	<script src="../script.js"></script>
	<!-- Optional JavaScript; choose one of the two! -->
	<!-- Option 1: Bootstrap Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

	
</body>
</html>