@page
@model KofCWSCWebsite.Pages.Family.FamilyWeekModel
@{
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="../style.css">


    <link defer href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>



    <title>Knights of Columbus-Washington</title>
</head>
<body>
	<img src="~/images/FamilyFade.png" class="card-img-top" alt="Faith" style="float:left;width: 200px;border-width: 0px">

	<h1>Family Week</h1>
	<h3>
		Help families place god and the Catholic Faith
		at the center of their lives, year-round.
	</h3>

	<p>
		Knights of Columbus councils will dedicate a special week of the year for their parish to recognize the vital importance of families as the
		foundation of our domestic church and to promote Catholic family values. Activities presented in this program seek strengthen the parish community
		and affirm the central importance of Catholic family life.
	</p>
	<p>
		When choosing a week, councils should consider factors that might affect parishioner schedules such as school vacations,
		holidays and other local events. Though traditionally celebrated in the summer to commemorate the birth and death of our founder,
		Father mcgivney, this program can take place anytime during the year.
	</p>
	<hr>



	<p>
		Coming Soon...
	</p>

	<h5>Additional Resources</h5>
	<p><a href="~/StaticFiles/pdf/pdf/10609 5-18 Family Week SS.pdf">Family Week - Supreme Resource</a></p>

	<script src="../script.js"></script>
	<!-- Optional JavaScript; choose one of the two! -->
	<!-- Option 1: Bootstrap Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>