@page
@model KofCWSCWebsite.Pages.Family.FoodForFamiliesModel
@{
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="../style.css">


    <link defer href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>



    <title>Knights of Columbus-Washington</title>
</head>
<body>
	<img src="~/images/FamilyFade.png" class="card-img-top" alt="Faith" style="float:left;width: 200px;border-width: 0px">

	<h1>Food for Families</h1>
	<h3>
		Help end hunger in communities across
		North America and around the globe.
	</h3>

	<p>
		The goal of Food for Families is to ensure that as few as possible go to bed hungry each night. Many in our communities are
		struggling through hardship and unable to provide food for their families. Knights of Columbus are committed to helping end hunger
		through the Food for Families program which has donated millions of dollars and millions of pounds of food toward this end. A featured program,
		Food for Families counts for two credits toward the Columbian award. Council and parish families will raise funds to support their local food pantries,
		food banks and soup kitchens. For every $500 or 1,000 pounds of food donated, the Supreme Council will refund $100 back to the council —
		up to a maximum of $500 per council per fraternal year. Though in-kind donation of food is valuable, leaders of hunger-relief organizations
		often comment that financial contributions can be stretched even further and allow nonprofits to procure the exact items needed by the
		organization and its clients.
	</p>
	<hr>



	<p>
		Coming Soon...
	</p>


	<h5>Additional Resources</h5>
	<p><a href="~/StaticFiles/pdf/pdf/10610 6-18 Food for Families SS.pdf">Food For Families - Supreme Resource</a></p>

	<script src="../script.js"></script>
	<!-- Optional JavaScript; choose one of the two! -->
	<!-- Option 1: Bootstrap Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>