@page
@model KofCWSCWebsite.Pages.Family.KeepChristInChristmasModel
@{
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

	<link rel="stylesheet" href="~/css/style.css">


    <link defer href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>



    <title>Knights of Columbus-Washington</title>
</head>
<body>
	<img src="~/images/FamilyFade.png" class="card-img-top" alt="Faith" style="float:left;width: 200px;border-width: 0px">

	<h1>Keep Christ in Christmas</h1>
	<h3>
		Promote the true spirit of Christmas in our
		homes, schools, parishes and communities.
	</h3>

	<p>
		Councils will evangelize society through their faithful acts, celebrations and a variety of activities. The Knights of Columbus offers multiple
		activities that promote Christmas and the season of advent in their proper context: Journey to the inn, light up for Christ, Crèche or advent wreath
		Blessing, and the Christmas Poster Contest. These programs are centered on the example of the Holy Family and the nativity of our lord and savior,
		Jesus Christ.
	</p>

	<p>
		The new Keep Christ in Christmas (KCiC) program brings all KCiC activities together under one umbrella. It encourages councils to compel their
		neighbors to shift from a preoccupation with materialism to the light of Christ and the spirit of giving. KCiC activities include whatever efforts
		best suit the parish and community of a particular council and do not need to originate from the Supreme Council.
	</p>

	<hr>



	<p>
		Coming Soon...
	</p>

	<h5>Additional Resources</h5>
	<p><a href="~/StaticFiles/pdf/pdf/10604 6-18 Keep Christ in Christmas SS.pdf">Keep Christ in Christmas - Supreme Resource</a></p>


	<script src="~/js/script.js"></script>
	<!-- Optional JavaScript; choose one of the two! -->
	<!-- Option 1: Bootstrap Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>