@model KofCWSCWebsite.Models.TblValOffice

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Office</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OfficeId" />
            <div class="form-group">
                <label asp-for="OfficeDescription" class="control-label"></label>
                <input asp-for="OfficeDescription" class="form-control" />
                <span asp-validation-for="OfficeDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DirSortOrder" class="control-label"></label>
                <input asp-for="DirSortOrder" class="form-control" />
                <span asp-validation-for="DirSortOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AltDescription" class="control-label"></label>
                <input asp-for="AltDescription" class="form-control" />
                <span asp-validation-for="AltDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailAlias" class="control-label"></label>
                <input asp-for="EmailAlias" class="form-control" />
                <span asp-validation-for="EmailAlias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UseAsFormalTitle" class="control-label"></label>
                <input asp-for="UseAsFormalTitle" class="form-control" />
                <span asp-validation-for="UseAsFormalTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebPageTagLine" class="control-label"></label>
                <textarea asp-for="WebPageTagLine" class="form-control" rows="20" cols="240" style="width:1200px"></textarea>
                <span asp-validation-for="WebPageTagLine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupremeUrl" class="control-label"></label>
                <input asp-for="SupremeUrl" class="form-control" />
                <span asp-validation-for="SupremeUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupId" class="control-label"></label>
                <input asp-for="GroupId" class="form-control" />
                <span asp-validation-for="GroupId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Copy2NewYear" /> @Html.DisplayNameFor(model => model.Copy2NewYear)
                </label>
            </div>
            @*<div class="form-group">
            <label asp-for="Copy2NewYear" class="control-label"></label>
            <input asp-for="Copy2NewYear" class="form-control" />
            <span asp-validation-for="Copy2NewYear" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="ExchangeMailType" class="control-label"></label>
                @{
                    var options = new SelectList(new List<SelectListItem>
                             {
                        new SelectListItem { Text = "Distribution List", Value = "DistributionList" },
                        new SelectListItem { Text = "User Mailbox", Value = "UserMailbox" },
                        new SelectListItem { Text = "Shared Mailbox", Value = "SharedMailbox" }
                     }, "Value", "Text");
                }
                @Html.DropDownListFor(Model => Model.ExchangeMailType, options, "Please select an option")
                <span asp-validation-for="ExchangeMailType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
