@page
@model KofCWSCWebsite.Pages.Home.SecondEditionArchiveModel
@{
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <style>
        * {
            box-sizing: border-box;
        }

        #myInput {
            background-image: url('/css/searchicon.png');
            background-position: 10px 10px;
            background-repeat: no-repeat;
            width: 100%;
            font-size: 16px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
        }

        #myTable {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid #ddd;
            font-size: 18px;
        }

            #myTable th, #myTable td {
                text-align: left;
                padding: 12px;
            }

            #myTable tr {
                border-bottom: 1px solid #ddd;
            }

                #myTable tr.header, #myTable tr:hover {
                    background-color: #f1f1f1;
                }
    </style>


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <title>Knights of Columbus-Washington</title>
</head>
<body>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Type in a year to filter results" title="Type in a name">


    <h2>Archived Bulletins</h2>

    <table id="myTable">
        <tr class="header">
            <th style="width:60%;">Year</th>
            <th style="width:40%;">Bulletin</th>
        </tr>
        <tr>
            <td>2023</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2023/mar.pdf">March</a></td>
        </tr>
        <tr>
            <td>2023</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2023/feb.pdf">February</a></td>
        </tr>
        <tr>
            <td>2023</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2023/jan.pdf">January</a></td>
        </tr>
        <tr>
            <td>2022</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2022/dec.pdf">December</a></td>
        </tr>
        <tr>
            <td>2022</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2022/nov.pdf">November</a></td>
        </tr>
        <tr>
            <td>2022</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2022/oct.pdf">October</a></td>
        </tr>
        <tr>
            <td>2022</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2022/sep.pdf">September</a></td>
        </tr>
        <tr>
            <td>2022</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2022/aug.pdf">August</a></td>
        </tr>
        <tr>
            <td>2022</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2022/jul.pdf">July</a></td>
        </tr>
        <tr>
            <td>2022</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2022/jun.pdf">June</a></td>
        </tr>
        <tr>
            <td>2022</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2022/may.pdf">May</a></td>
        </tr>
        <tr>
            <td>2022</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2022/apr.pdf">April</a></td>
        </tr>
        <tr>
            <td>2022</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2022/mar.pdf">March</a></td>
        </tr>
        <tr>
            <td>2022</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2022/feb.pdf">February</a></td>
        </tr>
        <tr>
            <td>2022</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2022/jan.pdf">January</a></td>
        </tr>
        <tr>
            <td>2021</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2021/dec.pdf">December</a></td>
        </tr>
        <tr>
            <td>2021</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2021/nov.pdf">November</a></td>
        </tr>
        <tr>
            <td>2021</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2021/oct.pdf">October</a></td>
        </tr>
        <tr>
            <td>2021</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2021/sep.pdf">September</a></td>
        </tr>
        <tr>
            <td>2021</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2021/aug.pdf">August</a></td>
        </tr>
        <tr>
            <td>2021</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2021/jul.pdf">July</a></td>
        </tr>
        <tr>
            <td>2021</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2021/jun.pdf">June</a></td>
        </tr>
        <tr>
            <td>2021</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2021/may.pdf">May</a></td>
        </tr>
        <tr>
            <td>2021</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2021/apr.pdf">April</a></td>
        </tr>
        <tr>
            <td>2021</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2021/mar.pdf">March</a></td>
        </tr>
        <tr>
            <td>2021</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2021/feb.pdf">February</a></td>
        </tr>
        <tr>
            <td>2021</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2021/jan.pdf">January</a></td>
        </tr>
        <tr>
            <td>2020</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2020/dec.pdf">December</a></td>
        </tr>
        <tr>
            <td>2020</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2020/nov.pdf">November</a></td>
        </tr>
        <tr>
            <td>2020</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2020/oct.pdf">October</a></td>
        </tr>
        <tr>
            <td>2020</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2020/sep.pdf">September</a></td>
        </tr>
        <tr>
            <td>2020</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2020/aug.pdf">August</a></td>
        </tr>
        <tr>
            <td>2020</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2020/jul.pdf">July</a></td>
        </tr>
        <tr>
            <td>2020</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2020/jun.pdf">June</a></td>
        </tr>
        <tr>
            <td>2020</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2020/may.pdf">May</a></td>
        </tr>
        <tr>
            <td>2020</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2020/apr.pdf">April</a></td>
        </tr>
        <tr>
            <td>2020</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2020/mar.pdf">March</a></td>
        </tr>
        <tr>
            <td>2020</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2020/feb.pdf">February</a></td>
        </tr>
        <tr>
            <td>2020</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2020/jan.pdf">January</a></td>
        </tr>
        <tr>
            <td>2019</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2019/dec.pdf">December</a></td>
        </tr>
        <tr>
            <td>2019</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2019/nov.pdf">November</a></td>
        </tr>
        <tr>
            <td>2019</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2019/oct.pdf">October</a></td>
        </tr>
        <tr>
            <td>2019</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2019/sep.pdf">September</a></td>
        </tr>
        <tr>
            <td>2019</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2019/aug.pdf">August</a></td>
        </tr>
        <tr>
            <td>2019</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2019/jul.pdf">July</a></td>
        </tr>
        <tr>
            <td>2019</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2019/jun.pdf">June</a></td>
        </tr>
        <tr>
            <td>2019</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2019/may.pdf">May</a></td>
        </tr>
        <tr>
            <td>2019</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2019/apr.pdf">April</a></td>
        </tr>
        <tr>
            <td>2019</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2019/mar.pdf">March</a></td>
        </tr>
        <tr>
            <td>2019</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2019/feb.pdf">February</a></td>
        </tr>
        <tr>
            <td>2019</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2019/jan.pdf">January</a></td>
        </tr>
        <tr>
            <td>2018</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2018/dec.pdf">December</a></td>
        </tr>
        <tr>
            <td>2018</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2018/nov.pdf">November</a></td>
        </tr>
        <tr>
            <td>2018</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2018/oct.pdf">October</a></td>
        </tr>
        <tr>
            <td>2018</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2018/sep.pdf">September</a></td>
        </tr>
        <tr>
            <td>2018</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2018/aug.pdf">August</a></td>
        </tr>
        <tr>
            <td>2018</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2018/jul.pdf">July</a></td>
        </tr>
        <tr>
            <td>2018</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2018/jun.pdf">June</a></td>
        </tr>
        <tr>
            <td>2018</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2018/may.pdf">May</a></td>
        </tr>
        <tr>
            <td>2018</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2018/apr.pdf">April</a></td>
        </tr>
        <tr>
            <td>2018</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2018/mar.pdf">March</a></td>
        </tr>
        <tr>
            <td>2018</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2018/feb.pdf">February</a></td>
        </tr>
        <tr>
            <td>2018</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2018/jan.pdf">January</a></td>
        </tr>
        <tr>
            <td>2017</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2017/dec.pdf">December</a></td>
        </tr>
        <tr>
            <td>2017</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2017/nov.pdf">November</a></td>
        </tr>
        <tr>
            <td>2017</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2017/oct.pdf">October</a></td>
        </tr>
        <tr>
            <td>2017</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2017/sep.pdf">September</a></td>
        </tr>
        <tr>
            <td>2017</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2017/aug.pdf">August</a></td>
        </tr>
        <tr>
            <td>2017</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2017/jan.pdf">July</a></td>
        </tr>
        <tr>
            <td>2017</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2017/jun.pdf">June</a></td>
        </tr>
        <tr>
            <td>2017</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2017/may.pdf">May</a></td>
        </tr>
        <tr>
            <td>2017</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2017/apr.pdf">April</a></td>
        </tr>
        <tr>
            <td>2017</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2017/mar.pdf">March</a></td>
        </tr>
        <tr>
            <td>2017</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2017/feb.pdf">February</a></td>
        </tr>
        <tr>
            <td>2017</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2017/jan.pdf">January</a></td>
        </tr>
        <tr>
            <td>2016</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2016/jan.pdf">December</a></td>
        </tr>
        <tr>
            <td>2016</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2016/nov.pdf">November</a></td>
        </tr>
        <tr>
            <td>2016</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2016/oct.pdf">October</a></td>
        </tr>
        <tr>
            <td>2016</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2016/sep.pdf">September</a></td>
        </tr>
        <tr>
            <td>2016</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2016/aug.pdf">August</a></td>
        </tr>
        <tr>
            <td>2016</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2016/jan.pdf">July</a></td>
        </tr>
        <tr>
            <td>2016</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2016/jun.pdf">June</a></td>
        </tr>
        <tr>
            <td>2016</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2016/may.pdf">May</a></td>
        </tr>
        <tr>
            <td>2016</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2016/apr.pdf">April</a></td>
        </tr>
        <tr>
            <td>2016</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2016/mar.pdf">March</a></td>
        </tr>
        <tr>
            <td>2016</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2016/feb.pdf">February</a></td>
        </tr>
        <tr>
            <td>2016</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2016/jan.pdf">January</a></td>
        </tr>
        <tr>
            <td>2015</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2015/dec.pdf">December</a></td>
        </tr>
        <tr>
            <td>2015</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2015/nov.pdf">November</a></td>
        </tr>
        <tr>
            <td>2015</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2015/oct.pdf">October</a></td>
        </tr>
        <tr>
            <td>2015</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2015/sep.pdf">September</a></td>
        </tr>
        <tr>
            <td>2015</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2015/aug.pdf">August</a></td>
        </tr>
        <tr>
            <td>2015</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2015/jun.pdf">July</a></td>
        </tr>
        <tr>
            <td>2015</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2015/jun.pdf">June</a></td>
        </tr>
        <tr>
            <td>2015</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2015/may.pdf">May</a></td>
        </tr>
        <tr>
            <td>2015</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2015/apr.pdf">April</a></td>
        </tr>
        <tr>
            <td>2015</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2015/mar.pdf">March</a></td>
        </tr>
        <tr>
            <td>2015</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2015/feb.pdf">February</a></td>
        </tr>
        <tr>
            <td>2015</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2015/jan.pdf">January</a></td>
        </tr>
        <tr>
            <td>2014</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2014/dec.pdf">December</a></td>
        </tr>
        <tr>
            <td>2014</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2014/nov.pdf">November</a></td>
        </tr>
        <tr>
            <td>2014</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2014/oct.pdf">October</a></td>
        </tr>
        <tr>
            <td>2014</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2014/sep.pdf">September</a></td>
        </tr>
        <tr>
            <td>2014</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2014/aug.pdf">August</a></td>
        </tr>
        <tr>
            <td>2014</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2014/june.pdf">July</a></td>
        </tr>
        <tr>
            <td>2014</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2014/june.pdf">June</a></td>
        </tr>
        <tr>
            <td>2014</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2014/may.pdf">May</a></td>
        </tr>
        <tr>
            <td>2014</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2014/apr.pdf">April</a></td>
        </tr>
        <tr>
            <td>2014</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2014/mar.pdf">March</a></td>
        </tr>
        <tr>
            <td>2014</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2014/feb.pdf">February</a></td>
        </tr>
        <tr>
            <td>2014</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2014/jan.pdf">January</a></td>
        </tr>
        <tr>
            <td>2013</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2013/dec.pdf">December</a></td>
        </tr>
        <tr>
            <td>2013</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2013/nov.pdf">November</a></td>
        </tr>
        <tr>
            <td>2013</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2013/oct.pdf">October</a></td>
        </tr>
        <tr>
            <td>2013</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2013/sept.pdf">September</a></td>
        </tr>
        <tr>
            <td>2013</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2013/aug.pdf">August</a></td>
        </tr>
        <tr>
            <td>2013</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2013/july.pdf">July</a></td>
        </tr>
        <tr>
            <td>2013</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2013/june.pdf">June</a></td>
        </tr>
        <tr>
            <td>2013</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2013/may.pdf">May</a></td>
        </tr>
        <tr>
            <td>2013</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2013/apr.pdf">April</a></td>
        </tr>
        <tr>
            <td>2013</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2013/mar.pdf">March</a></td>
        </tr>
        <tr>
            <td>2013</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2013/feb.pdf">February</a></td>
        </tr>
        <tr>
            <td>2013</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2013/jan.pdf">January</a></td>
        </tr>
        <tr>
            <td>2012</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2012/dec.pdf">December</a></td>
        </tr>
        <tr>
            <td>2012</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2012/nov.pdf">November</a></td>
        </tr>
        <tr>
            <td>2012</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2012/oct.pdf">October</a></td>
        </tr>
        <tr>
            <td>2012</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2012/sep.pdf">September</a></td>
        </tr>
        <tr>
            <td>2012</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2012/aug.pdf">August</a></td>
        </tr>
        <tr>
            <td>2012</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2012/july.pdf">July</a></td>
        </tr>
        <tr>
            <td>2012</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2012/jun.pdf">June</a></td>
        </tr>
        <tr>
            <td>2012</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2012/may.pdf">May</a></td>
        </tr>
        <tr>
            <td>2012</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2012/apr.pdf">April</a></td>
        </tr>
        <tr>
            <td>2012</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2012/mar.pdf">March</a></td>
        </tr>
        <tr>
            <td>2012</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2012/feb.pdf</a></td>
        </tr>
        <tr>
            <td>2012</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2012/jan.pdf">January</a></td>
        </tr>
        <tr>
            <td>2011</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2011/dec.pdf">December</a></td>
        </tr>
        <tr>
            <td>2011</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2011/nov.pdf">November</a></td>
        </tr>
        <tr>
            <td>2011</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2011/oct.pdf">October</a></td>
        </tr>
        <tr>
            <td>2011</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2011/sep.pdf">September</a></td>
        </tr>
        <tr>
            <td>2011</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2011/aug.pdf">August</a></td>
        </tr>
        <tr>
            <td>2011</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2011/july.pdf">July</a></td>
        </tr>
        <tr>
            <td>2011</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2011/jun.pdf">June</a></td>
        </tr>
        <tr>
            <td>2011</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2011/may.pdf">May</a></td>
        </tr>
        <tr>
            <td>2011</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2011/apr.pdf">April</a></td>
        </tr>
        <tr>
            <td>2011</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2011/mar.pdf">March</a></td>
        </tr>
        <tr>
            <td>2011</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2011/feb.pdf">February</a></td>
        </tr>
        <tr>
            <td>2011</td>
            <td><a href="~/StaticFiles/pdf/pdf/Bulletins/2011/jan.pdf">January</a></td>
        </tr>



    </table>

    <script>
        function myFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>








    <script src="script.js"></script>
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    
</body>
</html>