@page
@model KofCWSCWebsite.Pages.Forms.DDMidYearModel
@{
    ViewData["Title"] = "KofC DD Mid-Year Meeting Registration";
}

<div style="text-align:center">
    <h2 class="MyPageHdr">2024 District Deputy Mid-Year Winter Meeting</h2>
    <h3 class="MyColHdr">Dec. 6-8, 2024 Archbishop Brunett Retreat Center at the Palisades</h3>
</div>
<div>
    <h3 class="MyColHdr">Meeting Information</h3>
    <a href="https://kofcwa.sharepoint.com/:f:/s/WebsiteStorage/EkaD2gN98eBHmjanxVgSrFMBI1_TmBrVYmoOrL_Yz2H5uw?e=rfdSTb" target="kofcwa-sharepoint">Download all meeting materials</a><br />

    <script src="https://form.jotform.com/static/feedback2.js" type="text/javascript"></script>
    <script type="text/javascript">
        var JFL_233027289674060 = new JotformFeedback({
            formId: '233027289674060',
            base: 'https://form.jotform.com/',
            windowTitle: '2024 DD Mid-Year Meeting Registration',
            backgroundColor: '#FFA500',
            fontColor: '#FFFFFF',
            type: '0',
            height: 500,
            width: 700,
            openOnLoad: false
        });
    </script>
    <script src='https://cdn.jotfor.ms/s/umd/latest/for-form-embed-handler.js'></script>
    <script>window.jotformEmbedHandler("iframe[id='233027289674060']", "https://form.jotform.com/")</script>
    <a class="btn lightbox-233027289674060"
       style="
      margin-top: 16px;
      text-transform: uppercase;
      font-size: 14px;
      text-decoration: none;
      cursor: pointer;
      display: inline-block;
      padding: 10px;
      font-family: inherit;
      text-shadow: none;
      user-select: none;
      transition: all,.1s,ease-in;
      background-color: #FFA500;
      border: 1px solid #FFA500;
      color: #FFFFFF;
      ">
        Register for DD Mid-Year Meeting
    </a>

    <p>&nbsp;</p>
</div>
<div>
    <h3 class="MyColHdr">Supreme Council Resources</h3>
    <a href="https://kofc.org/cor" target=_blank>Cor</a><br />
    <a href="https://www.kofc.org/en/campaigns/into-the-breach.html" target=_blank>Into the Breach</a><br />
    <a href="https://www.kofc.org/en/for-members/resources/star-council-award.html" target=_blank>Star Council Award</a><br />
    <a href="https://www.kofc.org/en/resources/for-members/11729-affiliate-process.pdf" target=_blank>Affiliate List Submission Process</a><br />
    <a href="https://survey.alchemer.com/s3/7322809/Fraternal-Benefits-Event-Council-Report-v2" target=_blank>Fraternal Benefits Event Council Report v2 (Form #11077)</a><br />
    <a href="https://www.kofc.org/en/for-members/resources/faith-in-action-program-forms.html" target=_blank>Faith in Action Program Forms</a>, including Form 10784 Fraternal Programs Report Form<br />
    <a href="https://www.kofc.org/en/resources/for-members/2773-member-benefits.pdf" target=_blank>Member Benefits Poster (updated 9/2024)</a><br />
</div>