@model KofCWSCWebsite.Models.TblValCouncil

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Council @Model.CNumber - @Model.CName</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CNumber" />
            <input type="hidden" asp-for="Updated" />
            <input type="hidden" asp-for="UpdatedBy" />
            <input type="hidden" asp-for="PhyAddress" />
            <input type="hidden" asp-for="PhyCity" />
            <input type="hidden" asp-for="PhyState" />
            <input type="hidden" asp-for="PhyPostalCode" />
            <input type="hidden" asp-for="MailAddress" />
            <input type="hidden" asp-for="MailCity" />
            <input type="hidden" asp-for="MailState" />
            <input type="hidden" asp-for="MailPostalCode" />
            <input type="hidden" asp-for="MeetAddress" />
            <input type="hidden" asp-for="MeetCity" />
            <input type="hidden" asp-for="MeetState" />
            <input type="hidden" asp-for="MeetPostalCode" />
            <input type="hidden" asp-for="BMeetDOW" />
            <input type="hidden" asp-for="BMeetTime" />
            <input type="hidden" asp-for="OMeetDOW" />
            <input type="hidden" asp-for="OMeetTime" />
            <input type="hidden" asp-for="SMeetDOW" />
            <input type="hidden" asp-for="SMeetTime" />

            <input type="hidden" asp-for="SeatedDelegateDay1D1" />
            <input type="hidden" asp-for="SeatedDelegateDay1D2" />
            <input type="hidden" asp-for="SeatedDelegateDay2D1" />
            <input type="hidden" asp-for="SeatedDelegateDay2D2" />
            <input type="hidden" asp-for="SeatedDelegateDay3D1" />
            <input type="hidden" asp-for="SeatedDelegateDay3D2" />
            <input type="hidden" asp-for="PaidMPD" />

            <div class="form-group">
                <label asp-for="CLocation" class="control-label"></label>
                <input asp-for="CLocation" class="form-control" />
                <span asp-validation-for="CLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CName" class="control-label"></label>
                <input asp-for="CName" class="form-control" />
                <span asp-validation-for="CName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="District" class="control-label"></label>
                <input asp-for="District" class="form-control" />
                <span asp-validation-for="District" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddInfo1" class="control-label"></label>
                <input asp-for="AddInfo1" class="form-control" />
                <span asp-validation-for="AddInfo1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddInfo2" class="control-label"></label>
                <input asp-for="AddInfo2" class="form-control" />
                <span asp-validation-for="AddInfo2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddInfo3" class="control-label"></label>
                <input asp-for="AddInfo3" class="form-control" />
                <span asp-validation-for="AddInfo3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LiabIns" class="control-label"></label>
                <input asp-for="LiabIns" class="form-control" />
                <span asp-validation-for="LiabIns" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DioceseId" class="control-label"></label>
                <input asp-for="DioceseId" class="form-control" />
                <span asp-validation-for="DioceseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Chartered" class="control-label"></label>
                @*<input asp-for="Chartered" class="form-control" type="date" value="@(Model.Chartered.HasValue ? Model.Chartered.Value.ToString("yyyy-MM-dd") : string.Empty)" />*@
                <input asp-for="Chartered" class="form-control" type="date" />
                <span asp-validation-for="Chartered" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebSiteUrl" class="control-label"></label>
                <input asp-for="WebSiteUrl" class="form-control" />
                <span asp-validation-for="WebSiteUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BulletinUrl" class="control-label"></label>
                <input asp-for="BulletinUrl" class="form-control" />
                <span asp-validation-for="BulletinUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Arbalance" class="control-label"></label>
                <input asp-for="Arbalance" class="form-control" />
                <span asp-validation-for="Arbalance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

        </form>
        <div style="float:right">
            <form method="get" asp-controller="TblValCouncils" asp-action="FSEdit" asp-route-id="@Model.CNumber">
                <button type="submit" class="btn btn-info">Update Additional Details</button>
            </form>
        </div>
    </div>

</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
