@page
@model KofCWSCWebsite.Pages.LiabilityInsurance.LiabilityInsuranceModel
@{
}
<div style="text-align:center">
    <h2 class="MyPageHdr">2024-25 Washington State Liability Insurance Policy</h2>
    <h3 class="MyColHdr">NPIP Insurance Policy for Non-Profits</h3>
</div>

<div>
    <h3 class="MyColHdr">NPIP Insurance Coverage</h3>
    <a href="Insurance/files/WSC NPIP 2024 -2025 INSURANCE DIRECTIONS - WASHINGTON STATE COUNCIL AND SUBORDINATE COUNCILS.pdf" target="_blank">WSC NPIP 2024 -2025 INSURANCE DIRECTIONS - WASHINGTON STATE COUNCIL AND SUBORDINATE COUNCILS</a><br />
    <a href="Insurance/files/WSC NPIP 2024 -2025 INSURANCE WASHINGTON STATE COUNCIL AND SUBORDINATE COUNCILS.pdf" target="_blank">WSC NPIP 2024 -2025 INSURANCE WASHINGTON STATE COUNCIL AND SUBORDINATE COUNCILS</a><br />
</div>

<div>
    <h3 class="MyColHdr">Certificates of Insurance</h3>
    <a href="Insurance/files/WSC NPIP 2025 COI CORP CATHOLIC ARCHBISHOP SEATTLE.pdf" target="_blank">WSC NPIP 2025 COI CORP CATHOLIC ARCHBISHOP SEATTLE</a><br />
    <a href="Insurance/files/WSC NPIP 2025 COI Washington State Council & Subordiate Councils.pdf" target="_blank">WSC NPIP 2025 COI Washington State Council & Subordiate Councils</a><br />
    <a href="Insurance/files/WSC NPIP 2024 COI Request_for_Certificate.pdf" target="_blank">WSC NPIP 2024 COI Request for Certificate</a><br />
</div>

<div>
    <h3 class="MyColHdr">Special Events</h3>
    <a href="Insurance/files/WSC NPIP 2024 Included Special Events Classifications.pdf" target="_blank">WSC NPIP 2024 Included Special Events Classifications</a><br />
    <a href="Insurance/files/WSC NPIP Special Event and Liquor Liability Supplement.pdf" target="_blank">WSC NPIP Special Event and Liquor Liability Supplement</a><br />
</div>

<div>
    <h3 class="MyColHdr">Non Recommended Activities</h3>
    <a href="Insurance/files/WSC NPIP-Non Recommended Activities List.pdf" target="_blank">WSC NPIP Non-Recommended Activities List</a><br />
</div>
