@model LogCorrMemberOffice

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TblLogCorrMemberOffice</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ChangeType" class="control-label"></label>
                <input asp-for="ChangeType" class="form-control" />
                <span asp-validation-for="ChangeType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChangeDate" class="control-label"></label>
                <input asp-for="ChangeDate" class="form-control" />
                <span asp-validation-for="ChangeDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberId" class="control-label"></label>
                <input asp-for="MemberId" class="form-control" />
                <span asp-validation-for="MemberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OfficeId" class="control-label"></label>
                <input asp-for="OfficeId" class="form-control" />
                <span asp-validation-for="OfficeId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PrimaryOffice" /> @Html.DisplayNameFor(model => model.PrimaryOffice)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="District" class="control-label"></label>
                <input asp-for="District" class="form-control" />
                <span asp-validation-for="District" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Council" class="control-label"></label>
                <input asp-for="Council" class="form-control" />
                <span asp-validation-for="Council" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assembly" class="control-label"></label>
                <input asp-for="Assembly" class="form-control" />
                <span asp-validation-for="Assembly" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Processed" /> @Html.DisplayNameFor(model => model.Processed)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
