@{
    ViewData["Title"] = "Failed";
}

<h1>Your Import of Necrology was NOT Successful</h1>

<p>
    <h3>@ViewBag.ImpError</h3>
    <span>Please find the Macro Code <a href="https://kofcwa.sharepoint.com/:f:/s/WebsiteStorage/EiepFJlY9dNInphWo46WAMsB5ugem0CDLJkmLzkJiCFaWg?e=eNQ4jA" target="_blank">Here</a></span>
</p>
