@model NecImpNecrologyViewModel
<div>
    <span>Please find the Macro Code <a href="https://kofcwa.sharepoint.com/:f:/s/WebsiteStorage/EiepFJlY9dNInphWo46WAMsB5ugem0CDLJkmLzkJiCFaWg?e=eNQ4jA" target="_blank">Here</a></span>
</div>
<div class="overlay" id="overlay"></div>
<div class="form-container">
    <form asp-action="UploadNecrology" asp-controller="Csv" method="post" enctype="multipart/form-data" id="myForm">
        <div class="form-group">
            <label for="CsvFile">Upload CSV</label>
            <input type="file" name="CsvFile" id="CsvFile" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Upload Necrology CSV</button>
        <div class="spinner" id="spinner"></div>
    </form>
</div>
@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @ViewData["ErrorMessage"]
    </div>
}
<script>
    document.getElementById('myForm').addEventListener('submit', function (event) {
        document.getElementById('overlay').style.display = 'block'; // Show the Overlay
        document.getElementById('spinner').style.display = 'block'; // Show the spinner
    });
</script>