@page
@model KofCWSCWebsite.Pages.Utils.EmailGroupsModel
@{
}

<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div asp-validation-summary="All" class="text-danger" role="alert"></div>
    <table class="table">
        <tr>
            <td style="text-align:center">
                <h3>Send Email to Selected Groups/Offices</h3><br />

                <button id="sendEmail" type="submit" class="w-100 btn btn-lg btn-primary" style="width:200px !important" >Send Email</button>
            </td>
        </tr>
        <tr>
            <td>

                <input id="cFS" type="checkbox" asp-for="Input.cFS"/>
                <label>Financial Secretaries</label><br />

                <input id="cGK" type="checkbox" asp-for="Input.cGK" />
                <label>Grand Knights</label><br />

                <input id="cFN" type="checkbox" asp-for="Input.cFN" />
                <label>Faithful Navigators</label><br />

                <input id="cFC" type="checkbox" asp-for="Input.cFC" />
                <label>Fathful Comptrollers</label><br />

                <input id="cAll" type="checkbox" asp-for="Input.cAll" />
                <label>All Members</label>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-floating mb-3">
                    <input asp-for="Input.sSubject" class="form-control" autocomplete="off" aria-required="true" placeholder="Tom" />
                    <label asp-for="Input.sSubject">Subject</label>
                    <span asp-validation-for="Input.sSubject" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.sFrom" class="form-control" autocomplete="off" aria-required="true" placeholder="Tom" />
                    <label asp-for="Input.sFrom">From (i.e. StateDeputy@kofc-wa.org</label>
                    <span asp-validation-for="Input.sFrom" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <textarea asp-for="Input.sBody" class="form-control" rows="5" style="height:300px" ></textarea>
                    <label asp-for="Input.sBody">Message</label>
                    <span asp-validation-for="Input.sBody" class="text-danger"></span>
                </div>
            </td>
        </tr>

    </table>
</form>