@model KofCWSCWebsite.Models.CvnLocation

@{
    ViewData["Title"] = "Create";
}
<style>
    .uppercase {
        text-transform: uppercase;
    }
</style>

<h1>Create</h1>

<h4>Typically the Location is the City in Which the Convention Venue is Located (YAKIMA, LACEY, etc.)</h4>
<h3>NOTE: Adding a new location will also populate the mileage table for the new location</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="overlay" id="overlay"></div>
        <div class="form-container">
            <form asp-action="Create" id="myForm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Location" class="control-label"></label>
                    <input asp-for="Location" class="form-control uppercase" />
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="State" class="control-label"></label>
                    <input asp-for="State" class="form-control" />
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ZipCode" class="control-label"></label>
                    <input asp-for="ZipCode" class="form-control" />
                    <span asp-validation-for="ZipCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
                <div class="spinner" id="spinner"></div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    document.getElementById('myForm').addEventListener('submit', function (event) {
        document.getElementById('overlay').style.display = 'block'; // Show the Overlay
        document.getElementById('spinner').style.display = 'block'; // Show the spinner
    });
</script>
