@page
@model KofCWSCWebsite.Pages.Life.MarchForLifeModel
@{
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="../style.css">


    <link defer href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>



    <title>Knights of Columbus-Washington</title>
</head>
<body>
    <img src="~/images/LifeFade.png" class="card-img-top" alt="Faith" style="float:left;width: 200px;border-width: 0px">

    <h1>Marches For Life</h1>
    <h3>
        Show public support
        for the right to life.
    </h3>

    <p>
        The Knights of Columbus encourages others to choose life through public support of the pro-life cause. Knights can organize and participate
        in local/state/province/regional marches for life and/or organize participation of Knights/parishioners/students/etc.,
        in bus trips to the national marches in washington, D.C., ottawa, mexico City, throughout the Philippines, or in other countries.
        showing unwavering public support for the right to life.
    </p>

    <p>
        Councils are encouraged to participate in or sponsor local, state/province, regional or national marches for life.
        Councils that coordinate at least 50 participants or who organize a local march for life will receive credit for this program.
        a featured program, marches for life counts for two credits toward the Columbian award.
    </p>
    <hr>






    <script src="../script.js"></script>
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>