@page
@model KofCWSCWebsite.Pages.Life.PCSModel
@{
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="../style.css">


    <link defer href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>



    <title>Knights of Columbus-Washington</title>
</head>
<body>
    <img src="~/images/LifeFade.png" class="card-img-top" alt="Faith" style="float:left;width: 200px;border-width: 0px">

    <h1>Pregnancy Center Support</h1>
    <h3>
        Change the hearts and minds of society
        about abortion by showing that we love
        both mother and child before and after birth.
    </h3>

    <p>More than three thousand pro-life pregnancy centers now operate in jurisdictions throughout the order. By the very nature of our founding, Knights of Columbus are called to care for the widow and orphan. Abortion vulnerable unborn children and mothers experiencing unexpected pregnancies certainly fall within our mandate. With our aid, pregnancy centers can offer support to help them choose life. Councils can provide material, financial, labor and other support to pro-life pregnancy centers that help pregnant women during pregnancy and following the birth of their newborn children. Councils can “adopt” a pregnancy center and provide material, labor, and spiritual support throughout the year.</p>
    <hr>
    <p>
        Chairman Message Coming Soon...
    </p>

    <h5>Additional Resources</h5>
    <p><a href="~/StaticFiles/pdf/pdf/10623 6-18 Pregnancy Support SS.pdf">Pregnancy Center Support - Supreme Resource</a></p>


    <script src="../script.js"></script>
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>