@page
@model KofCWSCWebsite.Pages.SFPages.ChancellorModel
@{
}
<h3>Chancellor Resources</h3>

<a href="https://www.kofc.org/un/en/programs/faith/index.html">Faith in Action at Supreme</a>

<p>
    Have Questtions?  Contact <a href="mailto:robert_kish@kofc.org">robert_kish@kofc.org</a> at Supreme
</p>