@page
@model KofCWSCWebsite.Pages.SFPages.FinSecModel
@{
}
<h3>Financial Secretary Resources</h3>

<a class="dropdown-item MyMenuLink" asp-area="" asp-controller="SP" asp-action="GetChairmanInfoBlock" asp-route-id="223">Council Administration & Finance</a>

<p>
    <ul>
        <li>
            Forms
            <ul>
                <li>
                    <a href="https://www.kofc.org/un/en/officers/forms/council.html">Council Forms</a><br />
                </li>
                <li>
                    <a href="https://kofc-wa.org/Family/Officers/Resources/CouncilAuditReportsProcedures201201.ppt">Council Audit Report Procedures</a><br />
                </li>
            </ul>

        </li>

    </ul>

    <ul>
        <li>
            Documents
            <ul>
                <li>
                    <a href="https://www.kofc.org/un/en/resources/officers/fshandbook.pdf">Financial Secretary Handbook</a>
                </li>
            </ul>
        </li>
    </ul>


</p>