html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.editor-field input[type=text], .editor-field select{
    width:800px;
    height:800px;
}
.MyColHdr {
    background-color:#99C299 !important;
    color:white !important;
}
.MyImage{
    width:200px;
}
.MyPageHdr {
    text-align: center;
    background-color: #99C299 !important;
    color: white;
}
.MyMenuLink{
    color:lightseagreen !important;
}
.float-container {
    padding: 20px;
    width: 25%;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
}
