@page
@model KofCWSCWebsite.Pages.Faith.FaithModel
@{
}
<!doctype html>
<html lang="en">
<head>
	

	<title>Knights of Columbus-Washington</title>
</head>
<body>
	<img src="~/images/FaithFade.png" class="card-img-top" alt="Faith" style="float:left;width: 200px;border-width: 0px">

	<h1>Faith</h1>
	<p>
		Add Faith Director here
	</p>
	
	<p>
		Faith Stuff Here
	</p>

	<h5>Additional Resources</h5>
	<p><a href="~/StaticFiles/pdf/pdf/10682 6-18 Marian Icon Prayer OLHofPC SS.pdf">Faith Programs - Supreme Resource</a></p>



</body>
</html>