@page
@model KofCWSCWebsite.Pages.Faith.HolyHourModel
@{
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="../style.css">


    <link defer href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>



    <title>Knights of Columbus-Washington</title>
</head>
<body>
    
    <img src="~/images/FaithFade.png" class="card-img-top" alt="Faith" style="float:left;width: 200px;border-width: 0px">

    <h1>Holy Hour </h1>
    <h3>Encourage deep personal encounter with GOD.</h3>

    <p>
        The chivalric character of the Knights of Columbus and the Church’s long tradition of spiritual combat resonate with men today —
        especially as threats from the world and the devil are so keenly felt. eucharistic adoration in the form of a regularly scheduled Holy Hour
        is a simple, direct, and meaningful way to address these needs. it is familiar to many, easy to organize, and something everyone can participate
        in together regardless of age, vocation, stage of life or membership status. Councils can organize their Holy Hours in a variety of ways and incorporate
        aspects such as: perpetual adoration, the sacrament of reconciliation, prayer for particular intentions and more. a Knights of Columbus Holy Hour,
        prepared for the men of the parish, could include a reflection, communal rosary, prayers for intercession by Father mcgivney or st. Joseph,
        and various other aspects as decided by the council.
    </p>
    <hr>



    <script src="../script.js"></script>
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>