@page
@model KofCWSCWebsite.Pages.Faith.IntotheBreachModel
@{
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="../style.css">


    <link defer href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>



    <title>Knights of Columbus-Washington</title>
</head>
<body>
	<img src="~/images/FaithFade.png" class="card-img-top" alt="Faith" style="float:left;width: 200px;border-width: 0px">

	<h1>Into The Breach </h1>
	<h3>
		Deepen member spirituality and formation to
		combat crisis of religious faith in our world.
	</h3>

	<p>
		In his apostolic exhortation, Into the Breach, Bishop Thomas J. olmsted outlines the challenges faced by men of faith in the world today.
		Into the Breach is a call to battle for Catholic men which urges them to wholeheartedly embrace masculine virtues in a world at crisis.
		Councils will institute men’s study groups to read the apostolic exhortation Into the Breach and use copies of the Into the Breach Booklet
		and Study Guide as a resource. By reading and discussing Bishop olmsted’s inspirational words and the accompanying study guide with like-minded
		men of faith, councils will prayerfully examine the enormous breach in the battle line that lies before them. in doing so, they will begin to
		devise a personal plan of spiritual battle.
	</p>
	<hr>

	<h2>INTO THE BREACH </h2>

	<h3>A Higher Purpose</h3>

	<p>
		Deepen member spirituality and formation to combat crisis of religious faith in our world. Knights of Columbus councils will institute men’s
		study groups to read the apostolic exhortation Into the Breach and use copies of the Into the Breach Booklet (#340) and Study Guide (#10458) as
		resources.<br>
	</p>

	<h3>Overview </h3>

	<p>
		In his apostolic exhortation Into the Breach, Bishop Thomas J. Olmsted outlines the challenges faced by men of faith in the world today.
		Into the Breach is a call to battle for Catholic men which urges them to wholeheartedly embrace masculine virtues in a world at crisis.
		By reading and discussing Bishop Olmsted’s inspirational words and accompanying study guide, councils will prayerfully examine the enormous
		breach in the battle line that lies before them. In doing so, they will begin to devise a personal plan of spiritual battle.
	</p>

	<p style="text-align:center;">Action Steps </p>
	<p style="text-align:center;">Resources </p>

	<h3>Action Steps</h3>

	<p>
		Working with your pastor, obtain his permission and recommendations on starting a men’s discussion group to read Into the Breach.<br>
		Order the <a href="../pdf/IntoTheBreachcis340.pdf">Into the Breach Booklet (#340)</a> and Study Guide (#10683)<br>
		Build public interest for the group! Promote your Into the Breach discussion group in your parish and larger community through a variety of efforts:<br><br>
		Prominently display promotional posters (which can be ordered through Supplies Online)<br>
		Bulletin announcements<br>
		Pulpit announcements<br>
		Posting on your council and parish website / social media pages<br> <br>
		Hold weekly meetings. Discuss readings as a group using the meeting structure provided in the <a href="../pdf/IntoTheBreachcis340.pdf">Into the Breach Booklet (#340)</a> and Study Guide (#10683):<br>
		Begin each discussion with a simple prayer: Our Father, Hail Mary, or Glory Be<br>
		Discuss progress on spiritual goals outlined in the previous meeting’s “Call to Battle” section<br>
		Discuss the text using questions provided under “Understanding the Breach”<br>
		In this portion of your discussion, consider using quotes from “Bricks for the Breach”<br>
		Meditate upon the suggested scriptural passages under “Sword of the Spirit”<br>
		Consider having a member read this aloud using the Lectio Divina format<br>
		Announce the practical spiritual goals for the week based upon the “Call to Battle” section<br>
		Remind members that you will discuss progress on these goals at the next meeting<br>
		Conclude with the suggested prayer and encourage members to recite this prayer each day before the next meeting<br>
		To gain credit for your program, complete the associated reporting forms and submit them to the Supreme Council Department of Fraternal Mission. Remember to retain copies for your council records.<br>
		Immediately after your event is finished, complete the <a href="https://www.kofc.org/un/en/resources/programs/10784-fraternal-programs-report-form.pdf">Fraternal Programs Report Form (#10784)</a><br>
		At the end of the fraternal year, complete your <a href="../columbian_awardap_p.pdf">Columbian Award Application (#SP-7)</a><br>

	</p>

	<h5>Additional Resources</h5>
	<p><a href="~/StaticFiles/pdf/pdf/10598 6-18 Into the Breach SS.pdf">Into the Breach - Supreme Resource</a></p>

>


	<script src="../script.js"></script>
	<!-- Optional JavaScript; choose one of the two! -->
	<!-- Option 1: Bootstrap Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>