@page
@model KofCWSCWebsite.Pages.Faith.MarianPrayerModel
@{
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="../style.css">


    <link defer href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>



    <title>Knights of Columbus-Washington</title>
</head>
<body>
	<img src="~/images/FaithFade.png" class="card-img-top" alt="Faith" style="float:left;width: 200px;border-width: 0px">

	<h1>Marian Icon Prayer Program </h1>
	<h3>
		Spread devotion to Our Lady through
		the Marian Icon Prayer Program.
	</h3>

	<p>
		As the new Marian Icon pilgrimages through the jurisdiction, councils will host a prayer service at their parish. Like its predecessors,
		the program features a unique Marian image that is renewed with a new icon approximately every two years. Each Knights of Columbus jurisdiction
		receives several Marian images, which serve as the centerpieces for prayer services conducted in churches and council meeting places throughout
		the order for the duration of the initiative. Previous orderwide Marian Prayer Programs have gathered more than 16 million people together at
		140,000 prayer services.
	</p>
	<hr>

	<h2>MARIAN PRAYER - OUR LADY HELP OF PERSECUTED CHRISTIANS </h2>

	<h3>A Higher Purpose</h3>

	<p>
		Spread devotion to Our Lady and pray for our brothers and sisters of faith who are at risk around the world through the Marian Prayer Program.
		As the Marian image is brought on pilgrimage through the jurisdiction, councils will host the Our Lady Help of Persecuted Christians icon for a
		prayer service at their parish.<br>
	</p>

	<h3>Overview </h3>

	<p>
		The 2019-2020 Marian Prayer Program presents the 18th Marian image sponsored by the Knights of Columbus,
		this time of Our Lady Help of Persecuted Christians. Each Knights of Columbus jurisdiction receives several Marian images,
		which serve as the centerpieces for prayer services conducted in churches and council meeting places throughout the Order for the
		duration of the initiative. Since its inception in 1979, the Knights of Columbus’ Marian Prayer Program has held more than 166,900
		local council and parish prayer services with some 20 million participants. This year, the prayer service is intended to raise awareness
		of the plight of Christians persecuted for their faith and to stand in prayerful solidarity with them.
	</p>

	<h5>Additional Resources</h5>
	<p><a href="~/StaticFiles/pdf/pdf/10682 6-18 Marian Icon Prayer OLHofPC SS.pdf">Marian Icon Prayer Program - Supreme Resource</a></p>


	<script src="../script.js"></script>
	<!-- Optional JavaScript; choose one of the two! -->
	<!-- Option 1: Bootstrap Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>