@page
@model KofCWSCWebsite.Pages.Faith.RosaryModel
@{
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="../style.css">


    <link defer href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>



    <title>Knights of Columbus-Washington</title>
</head>
<body>
	<img src="~/images/FaithFade.png" class="card-img-top" alt="Faith" style="float:left;width: 200px;border-width: 0px">

	<h1>Rosary Program </h1>
	<h3>
		Build faithful families and
		communities by praying the Rosary.
	</h3>

	<p>
		This program encourages devotion to mary, the patroness of our order, and emphasizes the importance of prayer in community and as a family.
		The Rosary Program encourages councils to schedule regular Rosary prayer services on any day of the week, at any time of the year, with the guidance
		of their pastor. Councils should personally invite each family of the parish and offer attending families a copy of the
		Knights of Columbus Catholic information service’s A Scriptural Rosary for the Family (#319). encourage families to read this booklet and learn how their
		faith can be strengthened through a devotion to our lady, while praying the Rosary at home together regularly. Kits with Rosary rings,
		Rosary prayer guides, and leader books are available for councils to order by visiting supplies online through the officers online Portal.
	</p>
	<hr>

	<h2>ROSARY </h2>

	<h3>A Higher Purpose</h3>

	<p>
		Build faithful families and communities through rosary prayer. The Knights of Columbus Rosary Program encourages councils to
		promote devotion to the rosary in families and parishes by scheduling regular rosary prayer services. Kits with rosary rings,
		rosary prayer guides and leader books are available for councils to order.<br>
	</p>

	<h3>Overview </h3>

	<p>
		This program encourages devotion to Mary, the patroness of the Knights of Columbus, and emphasizes the importance of prayer in community and as a family.
		The Rosary Program encourages councils to schedule regular rosary prayer services on any day of the week, at any time of the year,
		with the guidance of their pastor. Councils should personally invite each family of the parish and offer attending families a copy of
		A Scriptural Rosary for the Family from the Knights of Columbus Catholic Information Service. Councils should encourage families to read this booklet
		and learn how their faith can be strengthened through a devotion to Our Lady, while praying the rosary at home together regularly.
	</p>



	<script src="../script.js"></script>
	<!-- Optional JavaScript; choose one of the two! -->
	<!-- Option 1: Bootstrap Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

	
</body>
</html>
