@page
@model KofCWSCWebsite.Pages.Faith.SpiritualReflectionModel
@{
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="../style.css">


    <link defer href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>



    <title>Spiritual Reflection</title>
</head>
<body>
	<img src="~/images/FaithFade.png" class="card-img-top" alt="Faith" style="float:left;width: 200px;border-width: 0px">

	<h1>Spiritual Reflection Program </h1>
	<h3>
		Create annual opportunities for prayer
		and reflection as a fraternity.
	</h3>

	<p>
		Many Catholic young people can attest that religious retreats are radically rejuvenating spiritual events that often leave a
		lasting impact on participants’ relationship to their faith. yet, so often, retreats seem only to be open to students and youth. under the
		guidance of their chaplain, councils can attend a retreat or day of reflection together or perhaps organize their own event for the men of their parish.
		Councils and jurisdictions can also hold low-cost retreats of their own. These events might be open only to council members or men of the parish — or
		may be open to entire families. if councils are unable to organize these events themselves, they could go as a group and attend a retreat in their area
		to satisfy the requirement. Council participation in spiritual reflection is required to qualify for the Columbian award.
	</p>
	<hr>

	<h2>SPIRITUAL REFLECTION </h2>

	<h3>A Higher Purpose</h3>

	<p>
		Create annual opportunities for prayer and reflection as a fraternity. Under the guidance of their chaplain,
		Knights of Columbus councils can attend a retreat or day of reflection together or perhaps organize their own event for men of their parish.
		Council participation in Spiritual Reflection is required to qualify for Columbian Award.<br>
	</p>

	<h3>Overview </h3>

	<p>
		Many Catholic young people can attest that religious retreats are radically rejuvenating spiritual events that often leave a lasting impact on
		participants’ relationship to their faith. Yet, so often, retreats seem only to be offered to students and youth. Working with their pastors,
		Knights of Columbus councils can hold low-cost retreats of their own. These events might be held for council members or men of the parish – or
		may be open to entire families. If councils are unable to organize these events themselves, they could go as a group and attend a retreat in their
		area to satisfy the requirement. Additionally, councils are strongly encouraged to consider visiting <a href="https://www.jp2shrine.org/en/visit/plan-a-pilgrimage.html">The Saint John Paul II National Shrine</a> in Washington,
		D.C. as part of this program.
	</p>



	<script src="../script.js"></script>
	<!-- Optional JavaScript; choose one of the two! -->
	<!-- Option 1: Bootstrap Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>