@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>New Record Creation Failed.</h1>
<h6>@ViewBag.ImpCreateMessage</h6>
<span>Please find the Macro Code <a href="https://kofcwa.sharepoint.com/:f:/s/WebsiteStorage/EiepFJlY9dNInphWo46WAMsB5ugem0CDLJkmLzkJiCFaWg?e=eNQ4jA" target="_blank">Here</a></span>