@page
@model KofCWSCWebsite.Pages.Membership_Pages.MembershipChairModel
@{
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="../style.css">


    <link defer href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>



    <title>Knights of Columbus-Washington</title>
</head>
<body>
	<img src="~/StaticFiles/rootfile/membership.jpg" class="card-img-top" alt="Membership" style="float:left;width: 200px;border-width: 0px">


	<h3>Membership Programs 2022 - 2023</h3>


	<p>
		My brothers we are now into March, and in 3 months the end of the fraternal year will be upon us. You all have done a wonderful
		job during February. A total of 64 new online members have been added to our ranks, beating all records for this fraternal year.
		As of March 1st, we are 26th in the order attaining 74.56% of our goal and climbing. While we can be and should be proud of our accomplishments,
		we can not afford to rest. We need 143 new members to achieve our goal by June 30th. Additionally, we have been challenged by the State Deputy of Oregon,
		Ray Prom as mentioned by our State Deputy Kim Washburn in his article. Currently, Oregon leads us by 3.42% in member growth, with Oregon at 77.98%
		and Washington at 74.56%. Will you help us beat Oregon? We have until the middle of May to beat them. As I’ve said many times, if <span style="font-weight:bold">everyone brings</span> in
		just 1 new member this fraternal year, we become unstoppable and will become number one in the order.
	</p>

	<p>
		This month under the leadership of our State Advocate and Ethnic Council Development Chairman Dr. Scott Hulse and DD7 Federico Lopez,
		we will be conducting a large Hispanic church drive at St Rose of Lima in Ephrata. For too long our Hispanic Brothers have been underrepresented
		and served. This will be followed by another large Hispanic church drive and council development in District 7, at San Juan Diego I Basin City.
		We expect to grow our Hispanic councils from 1 to 3 before the end of this fraternal year.
	</p>

	<p>
		I’d like to address the large number of online brother knights, 141 to be exact. As good as we are in recruiting new members,
		we need to complete the job by getting these brothers exemplified, brought before the council admissions committee, voted into the council,
		and transferred off the prospect list to the council rolls. Brothers, there are enough members sitting on the prospect list for councils to
		satisfy their membership goals for Star Council, and in some cases Double Star. What’s stopping you?
	</p>

	<p>
		We must now reach out and sell them on the value of joining our councils. The process is simple. When representatives of your council
		reach out to these brothers the conversation must start with, “Welcome brother to the Knights of Columbus. You are now part of the largest
		Catholic Family Fraternal organization in the world. You now have over 2 million brother that share the same faith and values as you.”
	</p>

	<p>
		As your conversation continues let them Know what your council has to offer both them and their family. Don’t just talk about the breakfasts,
		dinners and all the work the knights do around the parish. Let them know you would be honored if they would consider joining the council.
		Set up a meeting and have them fill out Form 1842 Member Experience Interest Survey. This survey will let you know their experience and where their
		interests lie. Remember it’s about them not the council. You are setting the stage for their life experience as a knight and council member.
		Get them to your councils in person exemplification. If you haven’t organized an exemplification team yet, have them view the online exemplification
		offered by Supreme. Here is the link; <a href="https://www.kofc.org/en/resources/for-members/ceremonials/online-invitation.pdf">https://www.kofc.org/en/resources/for-members/ceremonials/online-invitation.pdf</a> or use the QR Code below.
	</p>

	<p>Are you up to the task? Will you commit to reach out and welcome these brothers? If you need help, please reach out to me. I am committed to helping you succeed. </p>

	<img src="~/StaticFiles/rootfile/MD(3).jpg">


	<p>Vivat Jesus!</p>
	<p>Mike Rutland</p>
	<p>State Membership Director</p>
	<p>Washington State Council</p>

	<p><a href="mailto:MEMBERSHIP@kofc-wa.org">MEMBERSHIP@kofc-wa.org</a></p>

	


	<script src="../script.js"></script>
	<!-- Optional JavaScript; choose one of the two! -->
	<!-- Option 1: Bootstrap Bundle with Popper -->
	
</body>
</html>