@model KofCWSCWebsite.Models.TblWebSelfPublish

@{
    ViewData["Title"] = "Details";
}

<h1>Picture</h1>

<div>
    
    @{
        @Html.Raw(Model.Data)
            ;
    }
    <a href="/">Return Home</a>
</div>