@model KofCWSCWebsite.Models.TblCorrMemberOffice

@{
    ViewData["Title"] = "Create";
}

<h1>Add an Office to a User</h1>
<h3>Only use District/Council/Assembly for DDs/Chaplains/Faithful Friars</h3>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MemberId" class="control-label" hidden="true"></label>
                <input asp-for="MemberId" class="form-control" value="@ViewBag.MemberID" hidden="true" />
                <span asp-validation-for="MemberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OfficeId" class="control-label"></label>
                <select asp-for="OfficeId" class="form-control" asp-items="ViewBag.ListOfOffices"></select>
                <span asp-validation-for="OfficeId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PrimaryOffice" /> @Html.DisplayNameFor(model => model.PrimaryOffice)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" value="@ViewBag.FratYear" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="District" class="control-label"></label>
                <input asp-for="District" class="form-control" />
                <span asp-validation-for="District" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Council" class="control-label"></label>
                <input asp-for="Council" class="form-control" />
                <span asp-validation-for="Council" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assembly" class="control-label"></label>
                <input asp-for="Assembly" class="form-control" />
                <span asp-validation-for="Assembly" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Office" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@ViewBag.MemberId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
