@page
@model KofCWSCWebsite.Pages.Councils.ContactCouncilModel
@{
}
<style>
    .control-label {
        font-weight: bold;
    }
</style>
<h3>Contact a Council</h3>
<div class="container">
    <div class="row justify-content-left">
        <div class="col-md-6">

            <form method="post">
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmEmail" class="control-label"></label>
                    <input asp-for="ConfirmEmail" class="form-control" onpaste="return false;" />
                    <span asp-validation-for="ConfirmEmail" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="To" class="control-label"></label>
                    <select asp-for="To" asp-items="Model.RecipientRoles" class="form-control"></select>
                    <span asp-validation-for="To" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="VName" class="control-label"></label>
                    <input asp-for="VName" class="form-control" />
                    <span asp-validation-for="VName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="VPhone" class="control-label"></label>
                    <input asp-for="VPhone" class="form-control" placeholder="e.g. 123-456-7890" />
                    <small class="form-text text-muted">Format: 123-456-7890</small>
                    <span asp-validation-for="VPhone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CouncilNo" class="control-label"></label>
                    <select asp-for="CouncilNo" asp-items="Model.CouncilOptions" class="form-control"></select>
                    <span asp-validation-for="CouncilNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EmailSubject" class="control-label"></label>
                    <input asp-for="EmailSubject" class="form-control" />
                    <span asp-validation-for="EmailSubject" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EmailMessage" class="control-label fw-bold"></label>
                    <textarea asp-for="EmailMessage" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="EmailMessage" class="text-danger"></span>
                </div>
                <div class="form-check">
                    <input asp-for="SendCopy" class="form-check-input" />
                    <label asp-for="SendCopy" class="form-check-label">Send me a copy of this email</label>
                </div>
                <br />
                <div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
