@page
@model KofCWSCWebsite.Pages.Councils.PreFSDetailsModel
@{
}
<h2>Update Council Details for Council @Model.Council</h2>
<p>On the following screens, you will able to view and update your council's address
    information and other details. It is important that your council reviews this at
    least once every fraternal year.
</p>

<table class="table" style="width:25%">
    <tr>
        <td>
            <form method="get" asp-controller="TblValCouncils" asp-action="FSEdit" asp-route-id="@Model.Council">
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </td>
        <td>
            <form method="get" asp-controller="Home" asp-action="Index" asp-route-id="">
                <button type="submit" class="btn btn-success">Cancel</button>
            </form>
        </td>
    </tr>
</table>

<h6>Please press UPDATE to begin or CANCEL to Return.</h6>
