@model KofCWSCWebsite.Models.TblValAssy

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TblValAssy</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ANumber" />
            <div class="form-group">
                <label asp-for="ALocation" class="control-label"></label>
                <input asp-for="ALocation" class="form-control" />
                <span asp-validation-for="ALocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AName" class="control-label"></label>
                <input asp-for="AName" class="form-control" />
                <span asp-validation-for="AName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddInfo1" class="control-label"></label>
                <input asp-for="AddInfo1" class="form-control" />
                <span asp-validation-for="AddInfo1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddInfo2" class="control-label"></label>
                <input asp-for="AddInfo2" class="form-control" />
                <span asp-validation-for="AddInfo2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddInfo3" class="control-label"></label>
                <input asp-for="AddInfo3" class="form-control" />
                <span asp-validation-for="AddInfo3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebSiteUrl" class="control-label"></label>
                <input asp-for="WebSiteUrl" class="form-control" />
                <span asp-validation-for="WebSiteUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MasterLoc" class="control-label"></label>
                <input asp-for="MasterLoc" class="form-control" />
                <span asp-validation-for="MasterLoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
